{template header}

<section class="box order-detail layout">
	<header><i class="icon doc-text"></i>订单详情</header>
	<div class="content">
		<ul class="two-column">
			<li>
				<span class="left">订单编号：$order[id]</span>
				<span class="right">{echo Order::$Status[$order['status']]}</span>
			</li>
		</ul>
		<dl class="form">
			<dt>下单时间：</dt><dd>$order[dateline]</dd>
			<dt>收件人：</dt><dd>$order[addressee]</dd>
			<dt>联系电话：</dt><dd>$order[mobile]</dd>
			<dt>配送地址：</dt><dd>$order[deliveryaddress]</dd>
			<dt>用户留言：</dt><dd>$order[message]</dd>
		</dl>

		<h4>果果信息</h4>
		<ul class="two-column">
			<!--{loop $order['detail'] $d}-->
			<li>
				<span class="left"><!--{if $d['state'] == 1}-->[缺货] <!--{/if}-->$d[productname]<!--{if !empty($d['subtype'])}-->($d[subtype])<!--{/if}--></span>
				<span class="right">{echo $d['amount'] * $d['number']}{$d[amountunit]} <span class="price">{$d[subtotal]}{echo Product::$PriceUnit}</span></dt>
			</li>
			<!--{/loop}-->
			<li>
				<span class="right total price">共{$order[totalprice]}{echo Product::$PriceUnit}</span>
			</li>
		</ul>

		<h4>订单状态</h4>
		<div class="timeline">
			<div class="line"></div>
			<ul>
			<!--{loop $orderlog $log}-->
				<li>
					<span class="time">{echo rdate($log['dateline'])}</span>
					<span class="text">
					<!--{if $log['operatorgroup'] == Order::SystemOperated}-->
						系统
					<!--{elseif $log['operatorgroup'] == Order::AdministratorOperated}-->
						<!--{if $log['realname']}-->
						$log[realname]<!--{if $log['mobile']}-->(手机:$log[mobile])<!--{/if}-->
						<!--{else}-->
							匿名管理员
						<!--{/if}-->
					<!--{else}-->
						您
					<!--{/if}-->
					<!--{if $log['operation'] == Order::StatusChanged}-->
						<!--{if $log['extra'] == Order::Unsorted}-->
							重新分拣了订单
						<!--{elseif $log['extra'] == Order::Sorted}-->
							为您打包了订单
						<!--{elseif $log['extra'] == Order::ToDeliveryStation}-->
							正将订单送至配送站
						<!--{elseif $log['extra'] == Order::InDeliveryStation}-->
							已将订单送达配送站
						<!--{elseif $log['extra'] == Order::Delivering}-->
							正在为您配送
						<!--{elseif $log['extra'] == Order::Received}-->
							<!--{if $log['operatorgroup'] == Order::UserOperated}-->
							签收订单
							<!--{else}-->
							送达您手中
							<!--{/if}-->
						<!--{elseif $log['extra'] == Order::Rejected}-->
							<!--{if $log['operatorgroup'] == Order::UserOperated}-->
							拒收订单
							<!--{else}-->
							被您拒收订单
							<!--{/if}-->
						<!--{elseif $log['extra'] == Order::Canceled}-->
							取消订单
						<!--{/if}-->
					<!--{elseif $log['operation'] == Order::DetailInStock || $log['operation'] == Order::DetailOutOfStock}-->
						将 $log[productname]<!--{if $log['subtype']}-->($log[subtype])<!--{/if}-->{echo $log['amount'] * $log['number']}{$log[amountunit]} 标记为<!--{if $log['operation'] == Order::DetailInStock}-->有货<!--{else}-->缺货<!--{/if}-->
					<!--{/if}-->
					</span>
				</li>
				<!--{/loop}-->
				<li>
					<span class="time">{$order[dateline]}</span>
					<span class="text">您在{$_CONFIG[sitename]}下单</span>
				</li>
			</ul>
		</div>
	</div>
</section>

{template footer}
