{template header}

<style type="text/css">
canvas#barcode{
	width: 80%;
}
#qrcode{
	padding-bottom: 50px;
}
</style>

<script type="text/javascript" src="./3rdparty/jquery.ean13/jquery-ean13.min.js"></script>
<script type="text/javascript" src="./3rdparty/jquery.qrcode.min.js"></script>
<script type="text/javascript">
function id2barcode(id, packcode){
	var barcode = '0';
	var leading_zero_num = 8 - id.length;
	for(var i = 0; i < leading_zero_num; i++){
		barcode += '0';
	}
	barcode += id;
	leading_zero_num = 4 - packcode.length;
	for(var i = 0; i < leading_zero_num; i++){
		barcode += '0';
	}
	barcode += packcode;
	return barcode;
}

$(function(){
	$('#barcode').EAN13(id2barcode('$order[id]', '$order[packcode]'));
	$('#qrcode').qrcode('{"orderid":$order[id], "packcode":$order[packcode]}');
});
</script>

<section class="layout">
	<header><i class="icon icon-doc-text"></i>我的订单 - 提货二维码</header>
	<div class="content order_list">
		<dl class="form">
			<dt>订单编号：</dt><dd>$order[id]</dd>
			<dt>下单时间：</dt><dd>$order[dateline]</dd>
			<dt>收件人：</dt><dd>$order[addressee]</dd>
			<dt>联系电话：</dt><dd>$order[mobile]</dd>
			<dt>配送地址：</dt><dd>$order[deliveryaddress]</dd>
			<dt>总计：</dt><dd>{$order[totalprice]}{echo Product::$PriceUnit}</dd>
		</dl>

		<div class="lightbox" style="text-align: center">
			<button type="button" onclick="location.reload()" class="big">刷新提货码</button>
			<canvas id="barcode"></canvas>
			<div id="qrcode"></div>
		</div>
	</div>
</section>

{template footer}
