{template header}

<style type="text/css">
li a{
	display: block;
}
</style>

<section class="layout">
	<h1>付款方式</h1>
	<div class="content">
		<ul class="mselect">
		<!--{loop $paymentconfig['method'] $method}-->
		<!--{if !empty($method['enabled']) && !empty(Wallet::$PaymentInterface[$method['id']])}-->
			<li><a href="index.php?mod={echo Wallet::$PaymentInterface[$method['id']]}&orderid=$orderid">{echo Wallet::$PaymentMethod[$method['id']]}<!--{if !empty($method['recommended'])}-->(推荐)<!--{/if}--></a></li>
		<!--{/if}-->
		<!--{/loop}-->
		</ul>
	</div>
</section>

{template footer}
