{template header}

<script type="text/javascript">
$(function(){
	$('#reason').change(function(){
		if($(this).val() == ''){
			$('#otherreason').show();
		}else{
			$('#otherreason').hide();
		}
	});

	$('#reason').change();
});
</script>

<section class="layout">
	<header><i class="icon doc-text"></i>我的订单 - 退货申请</header>
	<div class="content order_list">
		<!--{if !empty($returned_order)}-->
		<ul class="two-column">
			<li>
				<span class="right">
					处理状态：
					{echo ReturnedOrder::$Status[$returned_order['state']]}
					<!--{if $returned_order['state'] == ReturnedOrder::Handled}-->
					，预计退款{$returned_order[returnedfee]}{echo Product::$PriceUnit}
					<!--{elseif $returned_order['state'] == ReturnedOrder::Confirmed}-->
					，已退款{$returned_order[returnedfee]}{echo Product::$PriceUnit}
					<!--{/if}-->
				</span>
			</li>
		</div>
		<!--{/if}-->

		<dl class="form">
			<dt>订单编号：</dt><dd>$order[id]</dd>
			<dt>下单时间：</dt><dd>$order[dateline]</dd>
			<dt>收件人：</dt><dd>$order[addressee]</dd>
			<dt>联系电话：</dt><dd>$order[mobile]</dd>
			<dt>配送地址：</dt><dd>$order[deliveryaddress]</dd>
			<dt>总计：</dt><dd>{$order[totalprice]}{echo Product::$PriceUnit}</dd>
		</dl>

		<!--{if empty($returned_order)}-->
		<form action="index.php?mod=order&action=return&orderid=$orderid" method="post">
			<div class="lightbox">
				<h1>退货明细</h1>
				<table>
					<thead>
						<tr><td>商品</td><td style="width: 5em">退货数量</td></tr>
					</thead>
					<tbody>
					<!--{loop $order['detail'] $d}-->
						<!--{if $d['state'] == 0}-->
						<tr>
							<td>$d[productname]<!--{if !empty($d['subtype'])}-->($d[subtype])<!--{/if}--></td>
							<td>
								<input type="text" class="number" name="detail[{$d[id]}]" data-maxvalue="{echo $d['amount'] * $d['number']}" />
							</td>
						</tr>
						<!--{/if}-->
					<!--{/loop}-->
					</tbody>
				</table>
			</div>

			<div class="lightbox reason">
				<h1>退货原因</h1>
				<div class="content">
					<select id="reason" name="reason" class="full-block">
					<!--{loop $returned_order_config['reason_options'] $reason}-->
						<option value="$reason">$reason</option>
					<!--{/loop}-->
						<option value="">其他</option>
					</select>
					<br />
					<textarea class="full-block" id="otherreason" name="otherreason" placeholder="给您带来不便，万分抱歉！还请填写详细情况以便我们改正~"></textarea>
				</div>
			</div>

			<div class="post_buttons">
				<button type="submit">确认退货</button>
			</div>
		</form>
		<!--{else}-->
		<div class="lightbox">
			<h1>退货明细</h1>
			<table>
				<thead>
					<tr><td>商品</td><td style="width: 5em">退货数量</td><td style="width: 4em">结果</td></tr>
				</thead>
				<tbody>
				<!--{loop $returned_order['details'] $d}-->
					<tr>
						<td>$d[productname]<!--{if !empty($d['subtype'])}-->($d[subtype])<!--{/if}--></td>
						<td>{$d[number]}{$d[amountunit]}</td>
						<td>{echo ReturnedOrder::$DetailResult[$d['state']]}</td>
					</tr>
				<!--{/loop}-->
				</tbody>
			</table>
		</div>

		<div class="lightbox">
			<h1>退货原因</h1>
			<div class="content">
				<textarea readonly="readonly" class="full-block">$returned_order[reason]</textarea>
			</div>
		</div>

		<!--{if !empty($returned_order['adminreply'])}-->
			<div class="lightbox">
				<h1>客服回复</h1>
				<div class="content">$returned_order[adminreply]</div>
			</div>
		<!--{/if}-->
		<!--{/if}-->
	</div>
</section>

{template footer}
