<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]管理面板</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="./view/admin/$_G[style]/image/favicon.ico"/>
<link rel="stylesheet" href="./view/admin/$_G[style]/image/common.css" type="text/css" />
<script type="text/javascript" src="./plugin/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="./js/jquery.editlist.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./js/admin.js"></script>
</head>

<body>
	<section class="container">
		<header>
			<ul class="menu">
				<li><a href="admin.php?mod=order">订单</a></li>
				<li><a href="admin.php?mod=market">商品</a></li>
				<li><a href="admin.php?mod=announcement">公告</a></li>
				<li><a href="admin.php?mod=address">地址</a></li>
				<li><a href="admin.php?mod=admin">管理员</a></li>
				<li><a href="admin.php?mod=setting">设置</a></li>
			</ul>
			<div class="profile">
				<div class="icon_home"></div>
				<div class="account">$_ADMIN[account]</div>
				<ul class="operation">
					<li><a href="admin.php?mod=cp&action=edit">修改个人信息</a></li>
					<li><a href="admin.php?mod=cp&action=logout">退出</a></li>
				</ul>
			</div>
		</header>
