<!--{template header}-->

<style>@import url({__MODULE_ROOT__}view/image/common.css?$_CONFIG[refversion]);</style>

<section class="box aboutus layout">
	<header>关于我们</header>
	<div class="content">
        <h2><img src="{__MODULE_ROOT__}view/image/fruitexp.png" class="logo"></h2>
        <div class="introduction">
            微果快线是一群大学生们创业所办的水果电商！价格优惠，品控严格，满分服务，高效物流。微果快线致力于专业的水果在线销售平台。让你足不出户吃水果！
        </div>

        <div class="copyright">
            <p>Copyright &copy; 2013-2016</p>
            <p>成都微果快线电子商务有限公司</p>
        </div>
    </div>
</section>

<!--{template footer}-->
