/* Common */

@import url('fontello.css');

body{
	margin: 0;
	padding: 0;
	background: #efefef;
}

body, button, input, select, textarea{
	font-family: 'Microsoft YaHei', 'Arial', 'Times New Roman';
	font-weight: 300;
	font-size: 12pt;
}

a{
	text-decoration: none;
	color: #69b24f;
}

button{
	padding: 0;
}

ul{
	padding: 0;
	margin: 0;
}

ul li{
	list-style: none;
}

.debug{
	display: none;
}

.currency_symbol:before{
	content: '￥';
}

/* List */
ul.brief > li{
	position: relative;
	min-height: 100px;
	border-bottom: #dcdcdc 1px solid;
}

ul.brief > li .icon{
	position: absolute;
	width: 64px;
	height: 64px;
	top: 10px;
	left: 0;
	background: #dcdcdc;
}

ul.brief > li .icon img{
	width: 64px;
	height: 64px;
}

/* Selection List */
ul.mselect > li{
	position: relative;
	line-height: 2em;
	border-bottom: #dcdcdc 1px solid;
	padding: 0 38px 0 15px;
	cursor: pointer;
}

ul.mselect > li:hover,
ul.mselect > li.checked{
	color: #69b24f;
}

ul.mselect > li input[type="radio"]{
	position: absolute;
	top: 7px;
	right: 15px;
}

ul.mselect > li em{
	color: #787878;
	font-size: 10pt;
	font-style: normal;
	margin: 1em;
}

ul.mselect > li a.remove{
	font-size: 10pt;
	color: #787878;
	margin-left: 5px;
}

/* Banner */
section.banner{
	height: auto;
}

section.banner img{
	width: 100%;
}

/* Footer */
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 64px;
	background: white;
	border-top: #dcdcdc 1px solid;
}

footer ul.button > li{
	width: 32%;
	display: inline-block;
	text-align: center;
}

footer ul.button > li a{
	color: #787878;
	display: block;
	width: 100%;
	padding: 0.6em 0 0.8em 0;
}

footer ul.button > li a .icon{
	display: block;
	margin: 0 auto;
}

footer ul.button > li.active a .icon{
	color: #69b24f;
}

footer div.number-notice div.number{
	font-size: 9pt;
}

/* Number notice */
div.number-notice{
	position: relative;
	display: inline-block;
}

div.number-notice div.number{
	background: #ff503c;
	color: white;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
	border-radius: 0.8em;
	display: block;
	overflow: hidden;
	top: -0.3em;
	right: -0.5em;
	position: absolute;
}

/* Sidebar Layout */
section.layout{
	position: relative;
	min-height: 500px;
	margin-bottom: 120px;
	background: #efefef;
}

section.sidebar{
	width: 5.5em;
	position: absolute;
	top: 0;
	left: 0;
	background: #efefef;
}

section.sidebar.fixed{
	position: fixed;
	top: 0;
	left: 0;
}

section.main{
	padding-left: 6em;
	background: white;
}

/* Tab */
ul.tab{
	background: #efefef;
	border-bottom: #dcdcdc 1px solid;
	line-height: 3em;
	text-align: center;
}

ul.tab > li{
	border-bottom: #dcdcdc 1px solid;
	border-right: #dcdcdc 1px solid;
}

ul.tab > li.active{
	border-left: #69b24f 6px solid;
	border-right: white 1px solid;
	background: white;
}

ul.tab > li a{
	display: block;
	width: 100%;
	color: black;
}

ul.tab > li:last-child{
	border-bottom: 0 solid;
}

/* Number Box */
input.number{
	background: none;
	width: 48px;
	border: 0 solid;
}

.numberbox{
	color: black;
	width: 96px;
	height: 24px;
	line-height: 24px;
}

.numberbox input.number{
	height: 100%;
	text-align: center;
	font-size: 14pt;
	padding: 0;
	float: left;
}

.numberbox button{
	border: #bebebe 2px solid;
	border-radius: 12px;
	width: 24px;
	height: 24px;
	background: none;
	text-align: center;
	overflow: hidden;
	margin: 0;
	float: left;
}

.numberbox button.decrease{
	color: #bebebe;
}

.numberbox button.increase{
	background: #69b24f;
	border: #69b24f 1px solid;
	color: white;
}

/* Address Table */
table.address{
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	line-height: 2em;
	font-size: 12pt;
}

table.address input[type="text"]{
	border: 0 solid;
	width: 100%;
	font-size: 12pt;
}

table.address select{
	border: #dcdcdc 1px solid;
	line-height: 2em;
	font-size: 12pt;
}

table.address tr{
	border-bottom: #dcdcdc 1px solid;
}

table.address tr th{
	width: 7em;
	font-weight: normal;
	padding-left: 15px;
}

/* Market */
section.market.layout{
	border-top: #dcdcdc 1px solid;
}

ul.product{
	margin-left: 10px;
}

ul.product .detail{
	padding-top: 10px;
	margin-bottom: 0.5em;
}

ul.product .detail{
	margin-left: 75px;
}

ul.product .soldout{
	color: #808080;
	font-size: 10pt;
}

ul.product .briefintro{
	color: #505050;
	font-size: 11pt;
	margin-top: 2px;
	min-height: 1.2em;
}

ul.product .price,
ul.product .priceunit,
ul.product .amount,
ul.product .amountunit{
	color: #ff5143;
}

ul.product .intro{
	display: block;
}

ul.product .photo,
ul.product .introduction{
	display: none;
}

ul.product ul.rule{
	margin-left: 5px;
}

ul.product ul.rule li{
	position: relative;
	line-height: 2em;
}

ul.product ul.rule li .order_input{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 2em;
}

ul.product ul.rule li .order_input .unit{
	position: absolute;
	bottom: 0;
	right: 33px;
	font-size: 9pt;
	color: #787878;
}

ul.product ul.rule li .order_input .numberbox{
	position: absolute;
	top: 50%;
	right: 7px;
	margin-top: -12px;
}

ul.product button.remove{
	position: absolute;
	top: 0;
	right: 3px;
	width: 24px;
	height: 24px;
}

.countdown{
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
	color: white;
	background: #69b24f;
	border-radius: 4px;
	text-align: center;
	font-size: 9pt;
	display: inline-block;
}

/* Shopping Cart */
section.cart{
	background: white;
}

section.cart ul.product li{
	min-height: 70px;
}


section.cart ul.product button.remove{
	background: none;
	border: 0 solid;
	font-size: 16pt;
}

section.cart ul.product button.remove:before{
	font-family: fontello;
	content: '\e803';
	font-weight: normal;
	color: #333;
}

section.cart ul.product ul.rule{
	margin-left: 75px;
}

section.cart .bottom_toolset .info .prices{
	display: inline-block;
}

section.cart .bottom_toolset .info{
	color: #ff5143;
}

/* Form */
.post_buttons{
	text-align: center;
}

button.big,
a.button.big,
.box.message button,
.box.message a.button,
.post_buttons button[type="submit"]
{
	width: 80%;
	background: #69b24f;
	font-size: 15pt;
	margin: 10px auto;
	border: 0 solid;
	color: white;
	padding: 0.4em 0;
	display: inline-block;
}

form > header{
	background: #69b24f;
	color: white;
	height: 3em;
	line-height: 3em;
	margin-bottom: 2em;
}

form.simple{
	text-align: center;
	font-size: 15pt;
}

form.simple input[type="text"],
form.simple input[type="password"]
{
	width: 80%;
	font-size: 15pt;
	line-height: 2em;
	margin: 10px 0;
}

.login_api{
	text-align: center;
	width: 80%;
	margin: auto;
}

.login_api a{
	font-size: 15pt;
	display: inline-block;
	width: 5em;
	height: 2em;
	line-height: 2em;
	padding-left: 2em;
	color: #69b24f;
}

.login_api a.qq_login{
	background: url(../image/qq_logo.png) no-repeat;
	background-size: auto 100%;
}

.login_api a.wechat_login{
	background: url(../image/wx_logo.png) no-repeat;
	background-size: auto 100%;
}

/* Section Box */
section.layout header{
	font-size: 20pt;
	line-height: 3em;
	text-align: center;
	border-bottom: #efefef 1px solid;
	background: white;
}

section.layout header .icon{
	color: #69b24f;
}

section.layout h4{
	margin: 4px 20px;
}

/* Message Box */
.box{
	background: white;
}

.box.message{
	margin: 0;
	padding-bottom: 50px;
}

.box.message h1{
	font-size: 15pt;
	background: #69b24f;
	color: white;
	line-height: 3em;
	height: 3em;
	margin: 0;
	text-align: center;
}

.box.message .content{
	font-size: 15pt;
	margin: 20px;
}

.box.message .content p{
	margin: 60px 0;
}

.box.message .content a{
	font-size: 13pt;
}

.box.message button{
	display: block;
	margin: 15px auto;
}

.lightbox{
	background: white;
	overflow: hidden;
}

.lightbox h1{
	background: #efefef;
	margin: 0;
	padding: 0.8em 0.5em 0.4em 0.5em;
	font-weight: normal;
	border: #dcdcdc 1px solid;
}

.lightbox table{
	margin: auto;
	width: 90%;
}

.message input{
	width: 100%;
	border: 0 solid;
	font-size: 12pt;
	line-height: 2em;
	margin: 5px 10px;
}

.bottom_toolset{
	position: fixed;
	left: 0;
	bottom: 64px;
	width: 100%;
	font-size: 17pt;
	height: 50px;
	border-top: #dcdcdc 1px solid;
	background: white;
}

.bottom_toolset .info{
	display: inline-block;
	width: auto;
	padding-left: 0.5em;
	height: 100%;
	line-height: 50px;
	margin: 0;
}

.bottom_toolset button{
	margin: 0;
	background: #69b24f;
	color: white;
	width: 4em;
	border: 0 solid;
	height: 100%;
	font-size: 17pt;
	position: absolute;
	top: 0;
	right: 0;
}

.avatar{
	width: 90px;
	height: 90px;
	border-radius: 90px;
	background: rgba(25, 25, 25, 0.5);
}

.avatar .default{
	width: 90px;
	height: 90px;
	background: url(../image/lemon-icon.png) no-repeat;
	background-position: center center;
	background-size: 40px auto;
	margin: auto;
}

.profile{
	background: url(../image/lemon-bg.jpg) no-repeat;
	background-size: 100% auto;
	height: 120px;
	width: auto;
	text-align: center;
	padding: 40px 0 40px 0;
}

.profile .avatar{
	margin: auto;
}

.profile .name{
	font-size: 16pt;
}

ul.link{
	min-height: 20em;
	background: #efefef;
}

ul.link > li{
	background: white;
	border-top: #f8f8f8 1px solid;
	border-bottom: #e6e6e6 1px solid;
	line-height: 2.8em;
	height: 2.8em;
}

ul.link > li > a{
	display: block;
}

ul.link > li .icon{
	display: inline-block;
	font-size: 18pt;
	width: 3.2em;
	text-align: center;
}

ul.two-column{
	margin-left: 20px;
	padding-top: 16px;
}

ul.two-column li{
	position: relative;
	line-height: 1.8em;
	height: 1.8em;
}

ul.two-column li .left{
	position: static;
}

ul.two-column li .right{
	position: absolute;
	top: 0;
	right: 20px;
}

.order-info{
	margin: 10px 0;
}

.order-info ul.two-column li:first-child{
	font-weight: 500;
}

.order-info .price{
	color: #ff503c;
}

ul.operation{
	border-top: #efefef 2px solid;
	padding: 10px;
	position: relative;
	height: 1.8em;
}

ul.operation li{
	display: inline-block;
	border: #808080 1px solid;
	border-radius: 5px;
	margin: 0 5px;
	height: 1.8em;
	line-height: 1.8em;
}

ul.operation li a{
	color: #808080;
	display: inline-block;
	height: 1.8em;
	line-height: 1.8em;
	padding: 0 0.5em;
}

ul.operation li.main{
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0 solid;
}

ul.operation li.main a{
	color: black;
}

ul.operation li.main:after{
	content: ' > ';
}

dl.form{
	background: white;
	margin: 4px 0;
	padding: 10px 0;
}

dl.form dt{
	display: inline-block;
	width: 25%;
	text-align: right;
}

dl.form dd{
	display: inline-block;
	width: 70%;
	margin: 0;
}

section.order-detail .total.price{
	color: #ff503c;
}

section.order-detail ul.two-column li .right .price{
	width: 5em;
	display: inline-block;
	text-align: right;
}

section.order-detail .content{
	background: white;
}

.timeline{
	position: relative;
}

.timeline .line{
	border-left: #787878 1.5px solid;
	height: calc(100% - 22px - 1em);
	position: absolute;
	top: 20px;
	left: 27px;
}

.timeline ul{
	padding-left: 40px;
}

.timeline ul li{
	position: relative;
}

.timeline ul li:before{
	content: '●';
	color: #69b24f;
	font-style: normal;
	font-size: 20pt;
	position: absolute;
	top: 0;
	left: -20px;
}

.timeline ul li:last-child:before{
	color: #787878;
}

.timeline .time{
	display: block;
	color: #707070;
	font-size: 9pt;
}

.edit_form{
	background: white;
	line-height: 2.5em;
}

.edit_form table{
	border-collapse: collapse;
	width: 100%;
}

.edit_form table tr th{
	width: 30%;
	text-align: right;
	padding-right: 1em;
}

.edit_form input{
	border: 0 solid;
}

.edit_form table tr{
	border-bottom: #e6e6e6 1px solid;
}

textarea.full-block{
	width: 100%;
	height: 100px;
	border: 0 solid;
	padding: 15px;
}

select.full-block{
	width: 100%;
	line-height: 2em;
	height: 2em;
}
