/* Common */

@import url('fontello.css');

body{
	margin: 0;
	padding: 0;
	font-size: 12pt;
}

body, button, input, select, textarea{
	font-family: 'Microsoft YaHei', 'Arial', 'Times New Roman';
}

a{
	text-decoration: none;
	color: #00b758;
}

ul{
	padding: 0;
	margin: 0;
}

ul li{
	list-style: none;
}

.debug{
	display: none;
}

.currency_symbol:before{
	content: '￥';
}

/* List */
ul.brief > li{
	position: relative;
	min-height: 100px;
	border-bottom: #dcdcdc 1px solid;
}

ul.brief > li .icon{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 10px;
	left: 0;
	background: #dcdcdc;
}

/* Selection List */
ul.mselect > li{
	position: relative;
	line-height: 2em;
	border-bottom: #dcdcdc 1px solid;
	padding: 0 15px;
	cursor: pointer;
}

ul.mselect > li:hover,
ul.mselect > li.checked{
	color: #00b658;
}

ul.mselect > li input[type="radio"]{
	position: absolute;
	top: 7px;
	right: 15px;
}

ul.mselect > li em{
	color: #787878;
	font-size: 10pt;
	font-style: normal;
	margin: 1em;
}

ul.mselect > li a.remove{
	font-size: 10pt;
	color: #787878;
	margin-left: 5px;
}

/* Banner */
section.banner{
	height: auto;
}

section.banner img{
	width: 100%;
}

/* Footer */
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
	border-top: #dcdcdc 1px solid;
}

footer ul.button > li{
	width: 32%;
	display: inline-block;
	text-align: center;
}

footer ul.button > li a{
	color: #787878;
	display: block;
	width: 100%;
	padding: 0.6em 0 0.8em 0;
}

footer ul.button > li a .icon{
	display: block;
	margin: 0 auto;
}

footer ul.button > li.active a .icon{
	color: #00b658;
}

footer div.number-notice div.number{
	font-size: 9pt;
}

/* Number notice */
div.number-notice{
	position: relative;
	display: inline-block;
}

div.number-notice div.number{
	background: #ff503c;
	color: white;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
	border-radius: 0.8em;
	display: block;
	overflow: hidden;
	top: -0.3em;
	right: -0.5em;
	position: absolute;
}

/* Sidebar Layout */
section.layout{
	position: relative;
	margin-bottom: 120px;
}

section.sidebar{
	width: 120px;
	position: absolute;
	top: 0;
	left: 0;
	background: #efefef;
}

section.main{
	padding-left: 120px;
	background: white;
}

/* Tab */
ul.tab{
	background: #efefef;
	border-bottom: #dcdcdc 1px solid;
	line-height: 3em;
	text-align: center;
}

ul.tab > li{
	border-bottom: #dcdcdc 1px solid;
	border-right: #dcdcdc 1px solid;
}

ul.tab > li.active{
	border-left: #00b758 6px solid;
	border-right: white 1px solid;
	background: white;
}

ul.tab > li a{
	display: block;
	width: 100%;
	color: black;
}

ul.tab > li:last-child{
	border-bottom: 0 solid;
}

/* Number Box */
.numberbox{
	color: black;
	width: 96px;
	height: 24px;
	line-height: 24px;
}

.numberbox input{
	background: none;
	border: 0 solid;
	width: 48px;
	height: 100%;
	text-align: center;
	font-size: 14pt;
	padding: 0;
	float: left;
}

.numberbox button{
	border: #bebebe 2px solid;
	border-radius: 12px;
	width: 24px;
	height: 24px;
	background: none;
	text-align: center;
	overflow: hidden;
	margin: 0;
	float: left;
}

.numberbox button.decrease{
	color: #bebebe;
}

.numberbox button.increase{
	background: #00b658;
	border: #00b758 1px solid;
	color: white;
}

/* Address Table */
table.address{
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	line-height: 2em;
	font-size: 12pt;
}

table.address input[type="text"]{
	border: 0 solid;
	width: 100%;
	font-size: 12pt;
}

table.address select{
	border: #dcdcdc 1px solid;
	line-height: 2em;
	font-size: 12pt;
}

table.address tr{
	border-bottom: #dcdcdc 1px solid;
}

table.address tr th{
	width: 7em;
	font-weight: normal;
	padding-left: 15px;
}

/* Market */
section.market.layout{
	border-top: #dcdcdc 1px solid;
}

ul.product{
	margin-left: 10px;
}

ul.product .detail{
	padding-top: 10px;
	margin-bottom: 0.5em;
}

ul.product .detail,
ul.product ul.rule{
	margin-left: 90px;
}

ul.product .soldout,
ul.product .briefintro{
	color: #808080;
	font-size: 10pt;
}

ul.product .price,
ul.product .priceunit,
ul.product .amount,
ul.product .amountunit{
	color: #ff5143;
}


ul.product .photo,
ul.product .introduction{
	display: none;
}

ul.product ul.rule li{
	position: relative;
	line-height: 2em;
}

ul.product ul.rule li .order_input{
	position: absolute;
	top: 0;
	right: 0;
	height: 2em;
}

ul.product ul.rule li .order_input .numberbox{
	position: absolute;
	top: 50%;
	right: 7px;
	margin-top: -12px;
}

ul.product button.remove{
	position: absolute;
	top: 0;
	right: 3px;
	width: 24px;
	height: 24px;
}

/* Shopping Cart */
section.cart ul.product li{
	min-height: 70px;
}


section.cart ul.product button.remove{
	background: none;
	border: 0 solid;
	font-size: 16pt;
}

section.cart ul.product button.remove:before{
	font-family: fontello;
	content: '\e803';
	font-weight: normal;
	color: #333;
}

section.cart .bottom_toolset .info .prices{
	display: inline-block;
}

section.cart .bottom_toolset .info{
	color: #ff5143;
}

/* Form */
.post_buttons{
	text-align: center;
}

button.big{
	width: 80%;
	background: #00b658;
	font-size: 15pt;
	margin: 10px auto;
	border: 0 solid;
	color: white;
	padding: 0.4em 0;
}

form > header{
	background: #00b758;
	color: white;
	height: 3em;
	line-height: 3em;
	margin-bottom: 2em;
}

form.simple{
	text-align: center;
	font-size: 15pt;
}

form.simple input[type="text"],
form.simple input[type="password"]
{
	width: 80%;
	font-size: 15pt;
	line-height: 2em;
	margin: 10px 0;
}

.login_api{
	text-align: center;
	width: 80%;
	margin: auto;
}

.login_api a{
	font-size: 15pt;
	display: inline-block;
	width: 5em;
	height: 2em;
	line-height: 2em;
	padding-left: 2em;
	color: #00b758;
}

.login_api a.qq_login{
	background: url(../image/qq_logo.png) no-repeat;
	background-size: auto 100%;
}

.login_api a.wechat_login{
	background: url(../image/wx_logo.png) no-repeat;
	background-size: auto 100%;
}

/* Message Box */
.box.message{
	margin: 0;
}

.box.message h1{
	font-size: 15pt;
	background: #00b758;
	color: white;
	line-height: 3em;
	height: 3em;
	margin: 0;
	text-align: center;
}

.box.message .content{
	font-size: 15pt;
	margin: 20px;
}

.box.message .content a{
	font-size: 13pt;
}

.lightbox h1{
	background: #efefef;
	margin: 0;
	padding: 0.8em 0.5em 0.4em 0.5em;
	font-weight: normal;
	border: #dcdcdc 1px solid;
}

.message input{
	width: 100%;
	border: 0 solid;
	font-size: 12pt;
	line-height: 2em;
	margin: 5px 10px;
}

.bottom_toolset{
	position: fixed;
	left: 0;
	bottom: 65px;
	width: 100%;
	font-size: 17pt;
	height: 50px;
	border-top: #dcdcdc 1px solid;
	background: white;
}

.bottom_toolset .info{
	display: inline-block;
	width: auto;
	padding-left: 0.5em;
	height: 100%;
	line-height: 50px;
	margin: 0;
}

.bottom_toolset button{
	margin: 0;
	background: #00b658;
	color: white;
	width: 4em;
	border: 0 solid;
	height: 100%;
	font-size: 17pt;
	position: absolute;
	top: 0;
	right: 0;
}