{template header}

<style type="text/css">
#orderlist{
	font-size: 10pt;
}
.reason{
	font-size:9pt;
	max-height:100px;
	overflow-y:auto;
}
.reply{
	width: 120px;
	height: 100px;
}
.list table tbody tr.subrow td{
	border: 0 solid;
}
.list table tbody tr:nth-child(2n+1) td{
	background: none;
}
</style>

<script type="text/javascript">
$(function(){
	$('.detailresult select').change(function(){
		var tr = $(this).parent().parent();
		var orderid = tr.data('orderid');
		var total = 0;
		var tbody = tr.parent();
		tbody.children('tr.subrow[data-orderid=' + orderid + ']').each(function(){
			var result = $(this).find('.detailresult select').val();
			if(result != {echo ReturnedOrder::UnhandledDetail} && result != {echo ReturnedOrder::InvalidDetail}){
				var subtotal = parseFloat($(this).find('.returnfee_subtotal').text());
				total += subtotal;
			}
		});
		tbody.find('input.returnedfee[data-orderid=' + orderid + ']').val(total.toFixed(2));
	});
});
</script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=order">订单</a></li>
	<li>退款申请</li>
</ol>

<div class="box">
	<h1>退款申请</h1>

	<div class="headactions">
		<a href="$mod_url&action=log">[历史记录]</a>
		<a href="$mod_url&action=config">[退单设置]</a>
	</div>

	<div class="content">

		<div class="notice">
			<ol>
				<li>“退货”会相应修改库存。</li>
				<li>“退款”会将相应金额退到用户钱包，若订单为线下付款，请确认已经付款成功。</li>
				<li>每个订单下所有退货均处理后（没有“未处理”状态），该退单申请处理成功。</li>
				<!--{if $_G['admin']->hasPermission('confirm_returnedorder')}-->
				<!--{if !$_G['admin']->hasPermission('handle_returnedorder')}-->
				<li>您没有权限直接处理来自客户的订单，需经过有权限的管理员审核后您才能浏览。</li>
				<!--{/if}-->
				<li>您处理的订单直接为最终结果。</li>
				<!--{else}-->
				<li>您处理的订单需经过有权限的管理员确认。</li>
				<!--{/if}-->
			</ol>
		</div>

		<form action="$mod_url" method="post">
			<div id="orderlist" class="list">
				<table>
					<thead>
						<tr>
							<td rowspan="2">订单号</td>
							<td rowspan="2">地址和收件人</td>
							<td rowspan="2" width="100">下单时间<br />退单时间</td>
							<td rowspan="2">付款状态</td>
							<td colspan="4">退回物品</td>
							<td rowspan="2" width="120">退单原因</td>
							<td rowspan="2">退款({echo Product::$PriceUnit})</td>
							<td rowspan="2">回复</td>
						</tr>
						<tr>
							<td>名称</td>
							<td>退回</td>
							<td>已买</td>
							<td>处理</td>
						</tr>
					</thead>
					<tbody>
						<!--{loop $returned_orders $o}-->
						<!--{eval $rowspan = count($o['details']) + 1;}-->
						<tr>
							<td rowspan="$rowspan"><a href="admin.php?mod=order&action=list&time_start=&time_end=&orderid=$o[id]">$o[id]</a></td>
							<td rowspan="$rowspan">
								<div>{echo Address::FullPathString($o['addressid'])} $o[extaddress]</div>
								<div>
									<a href="admin.php?mod=order&action=list&time_start=&time_end=&addressee=$o[addressee]">$o[addressee]</a> (<a href="admin.php?mod=order&action=list&time_start=&time_end=&mobile=$o[mobile]">$o[mobile]</a>)
								</div>
							</td>
							<td rowspan="$rowspan">{echo rdate($o['orderdateline'])}<br />{echo rdate($o['dateline'])}</td>
							<td rowspan="$rowspan">{echo Order::$PaymentMethod[$o['paymentmethod']]}<!--{if $o['tradestate']}--><br />({echo Order::$TradeState[$o['tradestate']]})<!--{elseif $o['paymentmethod'] != Order::PaidWithCash}--><br />(等待付款)<!--{/if}--></td>
							<td colspan="4"></td>
							<td rowspan="$rowspan"><div class="reason">$o[reason]</div></td>
							<td rowspan="$rowspan"><input type="text" class="returnedfee narrow" name="returnedfee[{$o[id]}]" data-orderid="$o[id]" value="$o[returnedfee]" /></td>
							<td rowspan="$rowspan"><textarea class="reply" name="reply[{$o[id]}]"></textarea></td>
						</tr>
						<!--{loop $o['details'] $d}-->
							<tr class="subrow" data-orderid="$o[id]">
								<td>$d[productname]<!--{if $d['subtype']}-->($d[subtype])<!--{/if}--></td>
								<td>
									<div>{$d[number]}{$d[amountunit]}</div>
									<div class="returnfee_subtotal">{echo sprintf('%.2f', $d['subtotal'] * $d['number'] / $d['boughtnum'])}{echo Product::$PriceUnit}</div>
								</td>
								<td>
									<div>{$d[boughtnum]}{$d[amountunit]}</div>
									<div>{$d[subtotal]}{echo Product::$PriceUnit}</div>
								</td>
								<td class="detailresult">{echo Template::select('detail['.$d['id'].']', ReturnedOrder::$DetailResult, $d['state'])}</td>
							</tr>
						<!--{/loop}-->
						<!--{/loop}-->
					</tbody>
				</table>
			</div>

			<!--{if !empty($returned_orders) && ($_G['admin']->hasPermission('handle_returnedorder') || $_G['admin']->hasPermission('confirm_returnedorder'))}-->
			<div class="post_buttons">
				<button type="submit">确认</button>
			</div>
			<!--{/if}-->
		</form>
	</div>
</div>

{template footer}
