body{
	font-size: small;
	width: 80mm;
	margin: 0;
	font-family: 宋体;
	font-weight: bold;
}

.header, .main, .footer{
	margin: 0 8px;
}

.header{
	margin-top: 10px;
	text-align: center;
	border-bottom: black 2px solid;
}

.header h2{
	font-size: 12pt;
	margin: 0;
}

table{
	border-collapse: collapse;
}

table th{
	text-align: right;
}

table.info th{
	width: 6em;
	vertical-align: top;
}

table.order_detail{
	width: 100%;
	margin: 4px 0;
	text-align: center;
}

table.order_detail th, table.order_detail td{
	border: 1px solid;
}

table.order_detail td.number{
	min-width: 2.5em;
}

.footer{
	margin-bottom: 20px;
	text-align: right;
}

#print_button{
	margin: auto;
	display: block;
}
