{template header}

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=address">地址</a></li>
	<li><a href="$mod_url">地址列表</a></li>
	<!--{loop $prev_address $a}-->
		<li><a href="$mod_url&id=$a[id]">$a[name]</a></li>
	<!--{/loop}-->
</ol>

<script type="text/javascript">
$(function(){
	$('#component_list').editlist({
		'edit' : '$mod_url&action=edit&parentid=$parentid',
		'delete' : '$mod_url&action=delete',
		'attr' : ['id', 'name', 'displayorder', 'parentid', 'parentname', 'hidden']
	});
});
</script>
<style type="text/css">
.format_form input.current{font-weight: bold; color: #5BC0DE; border: #5BC0DE 1px solid;}
</style>

<div class="box">
	<h1>地址设置</h1>

	<h2>格式设置</h2>
	<form action="$mod_url&action=format" class="toast format_form" method="post">
		<!--{eval for($i = 1; $i < Address::MAX_CASCADE_LEVEL; $i++){}-->
		<input type="text" name="addressformat[$i]" value="{echo !empty($addressformat[$i]) ? $addressformat[$i] : ''}" class="narrow {if $i == count($prev_address) + 1}current{/if}" />&gt;
		<!--{eval }}-->
		<input type="text" name="addressformat[{echo Address::MAX_CASCADE_LEVEL}]" {if !empty($addressformat[Address::MAX_CASCADE_LEVEL])}value="{echo $addressformat[Address::MAX_CASCADE_LEVEL]}"{/if} class="narrow" />
		<div class="post_buttons"><button type="submit">修改格式</button></div>
	</form>

	<div class="content">
		<div id="component_list" class="list">
			<table>
				<thead>
					<tr>
						<td>地点编号</td>
						<td>地点名称</td>
						<td>显示顺序</td>
						<td>上级地点编号</td>
						<td>上级地点名称</td>
						<td>隐藏</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<!--{loop $address_components $component}-->
					<tr data-primaryvalue="$component[id]">
						<td>$component[id]</td>
						<td>$component[name]</td>
						<td>$component[displayorder]</td>
						<td>$component[parentid]</td>
						<td>
							<!--{if empty($component['parentname'])}-->
							无
							<!--{else}-->
							$component[parentname]
							<!--{/if}-->
						</td>
						<td data-realvalue="$component[hidden]"><!--{if $component['hidden']}-->是<!--{else}-->否<!--{/if}--></td>
						<td></td>
					</tr>
					<!--{/loop}-->
					<tr>
						<td></td>
						<td><input type="text" /></td>
						<td><input type="text" /></td>
						<td><input type="text" value="$parentid" readonly="readonly" /></td>
						<td></td>
						<td>{echo Template::select('', array('否', '是'))}</td>
						<td><button type="button" class="add">添加</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

{template footer}
