{template header}

{template market_js}

<script type="text/javascript" src="./js/jquery.cascadeselect.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="./data/js/addresscomponent.js?$_CONFIG[refversion]"></script>
<script type="text/javascript">
var DeliveryConfig = {echo json_encode($deliveryconfig)};
var Order = {PaidWithWallet : {echo Wallet::ViaWallet}};
$.cascadeselect.addCommonOptions('all_addresses', addresscomponent);
</script>
<script type="text/javascript" src="./extension/module/product/view/js/cart.js?$_CONFIG[refversion]"></script>

<section class="cart layout">
	<ul class="brief product">
		<!--{loop $products $p}-->
		<li data-price-id="$p[priceid]">
			<div class="icon">
				<img data-original="$p[icon]" />
			</div>
			<div class="detail">
				<div class="name">$p[name]</div>
			</div>
			<ul class="rule">
				<li data-product-id="$p[productid]" data-price-id="$p[priceid]" data-storage-id="$p[storageid]" data-quantity-limit="$p[quantitylimit]">
					<span class="intro">
						<span class="subtype">$p[subtype]</span>
					</span>
					<span class="price">$p[price]</span><span class="priceunit">{echo Product::$PriceUnit}</span><span class="amount">$p[amount]</span><span class="amountunit">$p[amountunit]</span>
					<div class="order_input"><input type="text" class="number" /></div>
				</li>
			</ul>
			<button type="button" class="remove"></button>
		</li>
		<!--{/loop}-->
	</ul>
	<input type="hidden" id="product_price" />
	<!--{if !empty($item_deleted)}-->
	<div class="notice">由于库存紧缺，您刚刚有些商品被别人先下手啦QAQ，所以没有出现在购物车中。</div>
	<!--{/if}-->

	<form action="index.php?mod=product:cart" method="post">
		<input type="hidden" name="formkey" value="{echo $_G['user']->formkey}" />
		<div class="lightbox message">
			<h1>购物留言</h1>
			<div class="content">
				<input type="text" name="message" placeholder="你有什么想告诉我们的吗？" />
			</div>
		</div>
		<div class="lightbox">
			<h1>付款方式</h1>
			<div class="content">
				<ul class="mselect">
				<!--{loop $paymentconfig['method'] $method}-->
					<!--{if !empty($method['enabled'])}-->
					<li><input type="radio" name="paymentmethod" value="$method[id]" autocomplete="off" />{echo Wallet::$PaymentMethod[$method['id']]}<!--{if !empty($method['recommended'])}-->(推荐)<!--{/if}--><!--{if $method['id'] == Wallet::ViaWallet}--><em>钱包余额：<span id="userwallet">{$_USER[wallet]}</span>{echo Product::$PriceUnit}</em><!--{/if}--></li>
					<!--{/if}-->
				<!--{/loop}-->
				</ul>
			</div>
		</div>
		<div class="lightbox deliveryaddress">
			<h1>收货地址</h1>
			<div class="content">
				<ul class="mselect">
					<!--{loop $delivery_addresses $i $a}-->
					<li>
						<input type="radio" name="deliveryaddressid" value="$a[id]" autocomplete="off" />
						<div class="address">
							<span class="addressee">收件人：$a[addressee]<span class="mobile">$a[mobile]</span></span>
							<span class="detail">$a[address_text]</span>
							<a href="###" class="remove">删除</a>
						</div>
					</li>
					<!--{/loop}-->
					<li><input type="radio" name="deliveryaddressid" value="0" autocomplete="off" />使用新地址</li>
				</ul>
				<table class="address" id="new_address_table" style="display:none">
					<tr>
						<th><label>地址</label></th>
						<td>
							<input type="hidden" class="cascadeselect" name="deliveryaddress" data-options="all_addresses" data-require-fullpath="1" />
							<input type="text" class="ext" placeholder="更详细的单元及寝室号" />
						</td>
					</tr>
					<tr>
						<th><label for="addressee">收货人</label></th>
						<td><input type="text" name="addressee" placeholder="收货人姓名" /></td>
					<tr>
						<th><label for="mobile">联系电话</label></th>
						<td><input type="text" name="mobile" placeholder="收货人联系电话" /></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="lightbox deliverymethod">
			<h1>配送方式</h1>
			<div class="content">
				<input type="hidden" id="deliveryfee" value="0" />
				<ul class="mselect">
					<!--{loop $deliverymethods $m}-->
					<li><input type="radio" name="deliverymethod" value="$m[id]" autocomplete="off" />{$m[name]}<!--{if $m['fee'] > 0}--><em>订单总额&lt;{echo $m['maxorderprice']}{echo Product::$PriceUnit}时收取配送费{echo $m['fee']}{echo Product::$PriceUnit}</em><!--{/if}--></li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>

		<div class="bottom_toolset">
			<div class="total info">
				总计：<span class="currency_symbol"></span>
				<div class="prices">
					<span class="number" id="total_price">0.00</span>
					<span class="unit">{echo Product::$PriceUnit}</span>
				</div>
			</div>
			<button type="submit" id="cart_button">结算</button>
		</div>
	</form>
</section>

{template footer}
