{template header}

{template market_js}

<section class="banner" id="announcement-banner">
	<h2>公告栏</h2>
	<div class="list">
		<ol>
			<!--{loop $announcements $a}-->
			<li><div class="announcement"><h4>$a[title]</h4><div class="content">$a[content]</div></div></li>
			<!--{/loop}-->
		</ol>
	</div>
</section>

<section class="market layout">
	<section class="sidebar auto-fixed">
		<!--{if count(Product::Types()) > 1}-->
		<ul class="tab">
		<!--{loop Product::Types() $typeid $typename}-->
			<li{if $type == $typeid} class="active"{/if}><a href="index.php?mod=product&type=$typeid">$typename</a></li>
		<!--{/loop}-->
		</ul>
		<!--{/if}-->
	</section>

	<section class="main">
		<ul class="brief product">
			<!--{loop $products $p}-->
			<li data-product-id="$p[id]">
				<div class="icon">
				<!--{if !empty($p['icon'])}-->
					<img data-original="{STATIC_URL}$p[icon]">
				<!--{/if}-->
				</div>
				<div class="detail">
					<div class="name">$p[name]<!--{if !empty($p['is_ribbon'])}--><em class="label">代金券</em><!--{/if}--><!--{if !empty($p['flowid'])}--><em class="label">$p[flowname]</em><!--{/if}--></div>
					<div class="soldout">销量：<span class="value">$p[soldout]</span></div>
					<div class="briefintro">$p[briefintro]</div>
				</div>
				<ul class="rule">
					<!--{eval $sold_out = true;}-->
					<!--{loop $p['rule'] $r}-->
						<!--{if empty($price_limit[$r['id']]) || in_array($_G['user']->groupid, $price_limit[$r['id']])}-->
							<!--{eval $sold_out = false;}-->
							<li data-product-id="$p[id]" data-price-id="$r[id]" data-storage-id="$r[storageid]" data-quantity-limit="$r[quantitylimit]">
								<span class="intro"><span class="subtype">$r[subtype]</span><!--{if !empty($r['briefintro'])}--><span class="briefintro">$r[briefintro]</span><!--{/if}--></span>
								<span class="price">$r[price]</span><span class="priceunit">{echo Product::$PriceUnit}</span><span class="amount">$r[amount]</span><span class="amountunit">$r[amountunit]</span><!--{if $r['is_countdown']}--><div class="countdown">降</div><!--{/if}--><!--{if !empty($price_limit[$r['id']])}--><!--{loop $price_limit[$r['id']] $usergroupid}--><div class="limit">{echo UserGroup::Name($usergroupid)}专享</div><!--{/loop}--><!--{/if}-->
								<div class="order_input"><input type="text" class="number" /><!--{if $r['amount'] > 1}--><div class="unit">x{$r[amount]}</div><!--{/if}--></div>
							</li>
						<!--{/if}-->
					<!--{/loop}-->
					<!--{if $sold_out}-->
					<li>啊哦，$p[name]已经卖光了QAQ</li>
					<!--{/if}-->
				</ul>
				<div class="photo"><img data-original="{STATIC_URL}$p[photo]" /></div>
				<div class="introduction">$p[introduction]</div>
			</li>
			<!--{/loop}-->
		</ul>
	</section>
</section>

{template footer}
