<script src="{STATIC_URL}extension/module/product/view/js/market.js?$_CONFIG[refversion]"></script>
<script src="{STATIC_URL}3rdparty/jquery.lazyload/jquery.lazyload.min.js"></script>
<script>
var lang = {
	'storage_inadequate': '{lang message storage_inadequate}',
	'out_of_product_quantity_limit': '{lang message out_of_product_quantity_limit}',
	'log_in_to_buy': '{lang message log_in_to_buy}'
};
var ProductStorage = {echo json_encode($product_storages)};
var ProductQuantityLimit = {echo json_encode($quantity_limit)};
var User = {'id': {if $_G['user']->isLoggedIn()}$_USER[id]{else}0{/if}};

$(function(){
	$('.icon img, .photo img').lazyload();
});
</script>
