{template header}

<script type="text/javascript">
$(function(){
	$('#productlist').editlist({
		'edit' : '$mod_url&action=edit',
		'delete' : '$mod_url&action=delete',
		'attr' : ['name', 'type']
	});
});
</script>

<div class="box">
	<h1>商品管理</h1>
	<div class="content">
		<div id="productlist" class="edit_list">
			<table>
				<thead>
					<tr>
						<td>名称</td>
						<td>类型</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<!--{loop $products $p}-->
					<tr primaryvalue="$p[id]">
						<td>$p[name]</td>
						<td realvalue="$p[type]">{eval echo Product::Types($p['type']);}</td>
						<td></td>
					</tr>
					<!--{/loop}-->
					<tr>
						<td><input type="text" /></td>
						<td>{eval echo Template::select('', Product::Types());}</td>
						<td><button type="button" class="add">添加</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

{template footer}
