{template header}

<div class="box">
	<h1>订单管理</h1>
	<div class="content">
		<form class="quick_search" action="$mod_url" method="post">
			<dl>
				<dt>订单号：</dt>
				<dd><input type="text" name="orderid" style="width:3em" /></dd>
				<dt>订单送货地址：</dt>
				<dd>{echo Template::tselect('delivery_address', $address_format, $address_components, false, $formatid, $componentid)}</dd>
				<dt>是否历史订单：</dt>
				<dd>{echo Template::radio('completed_order', array(1 => '是', 0 => '否'), $completed_order)}</dd>
			</dl>
			<button type="submit">查找</button>
		</form>

		<div id="orderlist" class="list">
			<table>
				<thead>
					<tr>
						<td>编号</td>
					<!--{loop Address::Format() $f}-->
						<td>$f[name]</td>
					<!--{/loop}-->
						<td>地址</td>
						<td>收件人</td>
						<td>物品</td>
						<td>价格</td>
						<td>状态</td>
						<td width="100">时间</td>
						<td width="50">操作</td>
						<td>留言</td>
					</tr>
				</thead>
				<tbody>
					<!--{loop $orders $o}-->
					<tr primaryvalue="$o[id]">
						<td>$o[id]</td>
						<!--{loop Address::Format() $format}-->
							<td>{echo $o['address'][$format['id']]}</td>
						<!--{/loop}-->
						<td>$o[extaddress]</td>
						<td>$o[addressee]<br />$o[mobile]</td>
						<td>$o[items]</td>
						<td>$o[totalprice] $o[priceunit]</td>
						<td>
							{echo Order::$Status[$o['status']]}
							<!--{if $o['status'] == 0 && $_G['admin']->hasPermission('order_sort_w')}-->
							<div><a href="{$mod_url}&action=mark_sorted&orderid=$o[id]" title="将订单标记为已打包">[已打包]</a></div>
							<!--{elseif $o['status'] == 1 && $_G['admin']->hasPermission('order_deliver_w')}-->
							<div><a href="{$mod_url}&action=mark_delivered&orderid=$o[id]" title="将订单标记为已签收">[已签收]</a></div>
							<!--{/if}-->
						</td>
						<td>{echo rdate($o['dateline'])}</td>
						<td>
							<a href="$mod_url&action=print&orderid=$o[id]" target="_blank">[打印]</a>
							<!--{if $o['status'] == 0}-->
							<br /><a href="$mod_url&action=delete&orderid=$o[id]">[删除]</a>
							<!--{/if}-->
						</td>
						<td style="width:10%;"><div style="font-size:9pt;max-height:100px;overflow-y:auto;">$o[message]</div></td>
					</tr>
					<!--{/loop}-->
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

{echo Template::mpage($pagenum, $page, $limit, $mod_url.'&completed_order='.$completed_order.'&delivery_address='.$delivery_address)}

{template footer}
