<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]管理面板</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="./view/$_G[style]/image/favicon.ico"/>
<style type="text/css">
body{
	font-size:small;
	width:42mm;
	padding:0;
	margin:5px;
	font-family:宋体;
	font-weight:bold;
}

.header{
	font-size:15pt;
	text-align:center;
	border-bottom:black 3px dotted;
}

.header .tips{
	font-size:10pt;
}

dl.orderdetail dd{
	text-align:right;
}

.footer{
	border-top:black 3px dotted;
	text-align:center;
	overflow:hidden;
	padding-top:5px;
	margin-bottom:4em;
}
</style>
</head>
<body>

<!--{eval $tips = empty($_CONFIG['ticket_tips']) ? array('') : explode("\n", $_CONFIG['ticket_tips']);}-->
<!--{eval !empty($order) && empty($orders) && $orders = array($order);}-->
<!--{loop $orders $order}-->
<div class="header">
	<img src="./view/default/image/print_logo.gif" />
	<div class="tips">{echo $tips[array_rand($tips)]}</div>
</div>

<dl>
	<dt>订单编号：</dt><dd>$order[id]</dd>
	<dt>下单时间：</dt><dd>$order[dateline]</dd>
	<dt>收件人：</dt><dd>$order[addressee]</dd>
	<dt>联系电话：</dt><dd>$order[mobile]</dd>
	<dt>订单量：</dt><dd>$order[ordernum]</dd>
	<dt>配送地址：</dt><dd>$order[deliveryaddress]</dd>
</dl>

<dl class="orderdetail">
	<!--{loop $order['detail'] $d}-->
	<dt><!--{if $d['state'] == 1}-->[缺货]<!--{/if}-->$d[productname]<!--{if !empty($d['subtype'])}-->($d[subtype])<!--{/if}--> {echo $d['amount'] * $d['number']} $d[amountunit]</dt><dd>$d[subtotal] $order[priceunit]</dd>
	<!--{/loop}-->
	<dt>总计：</dt><dd>$order[totalprice] $order[priceunit]</dd>
</dl>

<dl>
	<dt>用户留言：</dt><dd>$order[message]</dd>
</dl>

<div class="footer">
	<img src="./view/default/image/print_qrcode.gif" />
</div>
<!--{/loop}-->

<script type="text/javascript">
window.print();
</script>

</body>
</html>
