{template header}

<script type="text/javascript" src="./plugin/datetimepicker/jquery.datetimepicker.min.js"></script>
<style type="text/css">@import url(./plugin/datetimepicker/jquery.datetimepicker.css);</style>
<script type="text/javascript">
var order_status = {
	unsorted : '待出库',
	sorted : '待配送',
	delivering : '配送中',
	received : '已签收',
	rejected : '已拒收'
};

$(function(){
	$('#delivery_address_list').on('click', 'li .add', function(e){
		var button = $(e.target);
		var li = button.parent();
		var ul = li.parent();
		ul.append(li.clone(true));

		button.attr('class', 'remove');
		button.text('[移除]');
	});

	$('#delivery_address_list').on('click', 'li .remove', function(e){
		var button = $(e.target);
		var li = button.parent();
		li.remove();
	});
});
</script>
<script type="text/javascript" src="./js/admin_order_list.js"></script>

<div class="box">
	<h1>订单管理</h1>
	<div class="content">
		<form class="quick_search" action="$mod_url" method="post">
			<dl>
				<dt>订单号：</dt>
				<dd><input type="text" name="orderid" style="width:3em" /></dd>
				<dt>时间：</dt>
				<dd><input type="text" name="time_start" class="datetime" value="$time_start" /> - <input type="text" name="time_end" class="datetime" value="$time_end" /></dd>
				<dt>统计：</dt>
				<dd>{echo Template::checkbox('stat[statonly]', '仅统计', !empty($stat['statonly']))} {echo Template::checkbox('stat[item]', '物品', !empty($stat['item']))} {echo Template::checkbox('stat[totalprice]', '总价格', !empty($stat['totalprice']))}</dd>
			</dl>
			<dl>
				<dt>送货地址：</dt>
				<dd>{echo Template::tselect('delivery_address[]', $address_format, $address_components, false, isset($order_address[0]) && empty($order_address[1]) ? $order_address[0] : 0)}</dd>
				<dt>订单状态：</dt>
				<dd>
					<!--{loop $available_status $id $checked}-->
					{echo Template::checkbox("display_status[$id]", Order::$Status[$id], $checked)}
					<!--{/loop}-->
				</dd>
			</dl>
			<button type="submit">查找</button>
			<a href="$mod_url&action=search" class="button">高级查找</a>
		</form>

		<!--{if $_G['admin']->isSuperAdmin()}-->
		<form class="quick_search" action="admin.php" method="get">
			<input type="hidden" name="mod" value="order" />
			<dl>
				<dt>订单号：</dt>
				<dd><input type="text" name="orderid" style="width:3em" /></dd>
				<dt>状态：</dt>
				<dd>{echo Template::select('action', array('mark_unsorted' => '待出库', 'mark_sorted' => '待配送', 'mark_delivering' => '配送中', 'mark_received' => '已签收', 'mark_rejected' => '已拒收'))}</dd>
			</dl>
			<button type="submit">修改</button>
			<a class="button" id="multi_mark_sorted" href="###" title="批量点击本页所有[已打包]按钮">本页已打包</a>
			<a class="button" id="multi_mark_delivering" href="###" title="批量点击本页所有[配送中]按钮">本页配送中</a>
		</form>
		<!--{/if}-->

		<div id="orderlist" class="list">
			<table>
				<thead>
					<tr>
						<td>编号</td>
					<!--{loop Address::Format() $f}-->
						<td>$f[name]</td>
					<!--{/loop}-->
						<td>地址</td>
						<td>收件人</td>
						<td>历史订单</td>
						<td>物品</td>
						<td>价格</td>
						<td width="60">状态</td>
						<td width="100">时间</td>
						<td width="50">操作</td>
						<td>留言</td>
					</tr>
				</thead>
				<tbody>
				<!--{if empty($stat['statonly'])}-->
					<!--{loop $orders $o}-->
					<tr primaryvalue="$o[id]">
						<td>$o[id]</td>
						<!--{loop Address::Format() $format}-->
							<td>{echo $o['address'][$format['id']]}</td>
						<!--{/loop}-->
						<td>$o[extaddress]</td>
						<td><a href="$mod_url&action=list&time_start=&time_end=&addressee=$o[addressee]">$o[addressee]</a><br /><a href="$mod_url&action=list&time_start=&time_end=&mobile=$o[mobile]">$o[mobile]</a></td>
						<td><a href="$mod_url&action=list&time_start=&time_end=&userid=$o[userid]">$o[ordernum]</a></td>
						<td>$o[items]</td>
						<td>$o[totalprice] $o[priceunit]</td>
						<td>
							{echo Order::$Status[$o['status']]}
							<!--{if $o['status'] == Order::Unsorted && $_G['admin']->hasPermission('order_sort_w')}-->
							<div><a class="mark_sorted" href="{$mod_url}&action=mark_sorted&orderid=$o[id]" title="将订单标记为已打包">[已打包]</a></div>
							<!--{elseif $o['status'] == Order::Sorted && $_G['admin']->hasPermission('order_deliver_w')}-->
							<div><a class="mark_delivering" href="{$mod_url}&action=mark_delivering&orderid=$o[id]" title="将订单标记为配送中">[配送中]</a></div>
							<!--{elseif $o['status'] == Order::Delivering && $_G['admin']->hasPermission('order_deliver_w')}-->
							<div><a class="mark_received" href="{$mod_url}&action=mark_received&orderid=$o[id]" title="将订单标记为已签收">[已签收]</a></div>
							<div><a class="mark_rejected" href="{$mod_url}&action=mark_rejected&orderid=$o[id]" title="将订单标记为已拒收">[已拒收]</a></div>
							<!--{/if}-->
						</td>
						<td>{echo rdate($o['dateline'])}</td>
						<td>
							<a class="print" href="$mod_url&action=print&orderid=$o[id]" target="_blank">[打印]</a>
							<!--{if $o['status'] == Order::Unsorted}-->
							<br /><a class="delete" href="$mod_url&action=delete&orderid=$o[id]">[删除]</a>
							<!--{/if}-->
						</td>
						<td style="width:10%;"><div style="font-size:9pt;max-height:100px;overflow-y:auto;">$o[message]</div></td>
					</tr>
					<!--{/loop}-->
				<!--{/if}-->
				<!--{if !empty($stat['item'])}-->
					<!--{loop $statdata['item'] $item}-->
					<tr>
						<td></td>
						<td colspan="{echo count(Address::Format()) + 1}"></td>
						<td colspan="2"></td>
						<td>$item[productname]<!--{if !empty($item['subtype'])}-->($item[subtype])<!--{/if}--> $item[num] $item[amountunit]</td>
						<td>$item[totalprice] $item[priceunit]</td>
						<td colspan="4"></td>
					</tr>
					<!--{/loop}-->
				<!--{/if}-->
				<!--{if !empty($stat['totalprice'])}-->
					<tr>
						<td>总计</td>
						<td colspan="{echo count(Address::Format()) + 1}"></td>
						<td colspan="2"></td>
						<td>$pagenum 个订单</td>
						<td><!--{loop $statdata['totalprice'] $total}-->$total[price] $total[priceunit]<!--{/loop}-->
						</td>
						<td colspan="4"></td>
					</tr>
				<!--{/if}-->
				</tbody>
			</table>
		</div>
	</div>
</div>

<!--{if empty($stat['statonly'])}-->
{echo Template::mpage($pagenum, $page, $limit, $mod_url.'&display_status='.implode(',', $display_status).'&'.http_build_query(array('delivery_address' => $delivery_address)).'&time_start='.$time_start.'&time_end='.$time_end.'&'.http_build_query(array('stat' => $stat)).'&mobile='.$mobile.'&addressee='.$addressee.'&administrator='.$administrator.'&userid='.$userid)}
<!--{/if}-->

{template footer}
