<!--{template header}-->

<script type="text/javascript">
$(function(){
	$('#unit_list').editlist({
		'delete' : '$mod_url&type=delivery&action=delete',
		'attr' : ['deadline', 'time_from', 'time_to', 'effective_time', 'expiry_time', 'hidden'],
		'buttons' : {'delete':'删除'}
	});
});
</script>

<div class="box">
	<h1>配送相关设置</h1>
	<div class="headactions">
		{template setting_menu}
	</div>

	<h2>每日配送时间段设置</h2>
	<div id="unit_list" class="list">
		<table>
			<thead><tr><td>下单终止时间</td><td>配送开始时间</td><td>配送结束时间</td><td>生效时间</td><td>失效时间</td><td>隐藏</td><td>操作</td></tr></thead>
			<tbody>
				<!--{loop $delivery_timespans $s}-->
				<tr primaryvalue="$s[id]">
					<td>$s[deadline]</td>
					<td>$s[time_from]</td>
					<td>$s[time_to]</td>
					<td>$s[effective_time]</td>
					<td>$s[expiry_time]</td>
					<td realvalue="$s[hidden]"><!--{if $s['hidden']}-->是<!--{else}-->否<!--{/if}--></td>
					<td></td>
				</tr>
				<!--{/loop}-->
				<tr>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><select><option value="0" selected="selected">否</option><option value="1">是</option></select></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="notice">
		<p>时间格式H:i:s，如12:30:00，分和秒可省略。超过今日下单终止时间后，会自动显示为次日的配送时间。</p>
		<p>需要直接设置第二天（或第三天等）时间可增加24小时，如25:00:00表示第二天凌晨1点。</p>
	</div>
</div>

<!--{template footer}-->
