<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]管理面板</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="./view/admin/$_G[style]/image/favicon.ico"/>
<link rel="stylesheet" href="./view/admin/$_G[style]/image/common.css?$_CONFIG[refversion]" type="text/css" />
<!--{if !empty($_CONFIG[jquery_cdn])}-->
<script type="text/javascript" src="$_CONFIG[jquery_cdn]"></script>
<!--{/if}-->
<script>window.jQuery || document.write('<script src="./plugin/jquery/jquery-2.0.3.min.js"><\/script>');</script>
<script type="text/javascript" src="./js/jquery.editlist.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="./js/common.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="./js/admin.js?$_CONFIG[refversion]"></script>
<!--{if isset($_CONFIG['head_element'])}-->$_CONFIG[head_element]<!--{/if}-->
</head>

<body>
	<section class="container">
		<header>
			<h2>$_CONFIG[sitename]管理面板</h2>
			<div class="profile">
				<div class="account">$_ADMIN[account]</div>
				<ul class="operation">
					<li><a href="admin.php?mod=memcp&action=edit">修改个人信息</a></li>
					<li><a href="admin.php?mod=memcp&action=logout">退出</a></li>
				</ul>
			</div>
		</header>

		<section class="main">
			<ul class="menu">
					<!--{if $_G['admin']->hasPermission('order') || $_G['admin']->hasPermission('orderstat') || $_G['admin']->hasPermission('ticket') || $_G['admin']->hasPermission('ticketprinter')}-->
					<li>
						<a href="{if $_G['admin']->hasPermission('order')}admin.php?mod=order{else}###{/if}">订单</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=order&action=scancode">扫码处理</a></li>
							<!--{if $_G['admin']->hasPermission('orderstat')}-->
							<li><a href="admin.php?mod=orderstat">分拣报表</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('order')}-->
							<li><a href="admin.php?mod=order&action=search">高级查找</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('ticket')}-->
							<li><a href="admin.php?mod=ticket">小票设置</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('ticketprinter')}-->
							<li><a href="admin.php?mod=ticketprinter" target="_blank">打印提货单</a></li>
							<!--{/if}-->
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('returnedorder')}-->
					<li>
						<a href="admin.php?mod=returnedorder">退单</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=returnedorder&action=log">历史记录</a></li>
							<li><a href="admin.php?mod=returnedorder&action=config">退单设置</a></li>
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('market')}-->
					<li>
						<a href="admin.php?mod=market">商品</a>
						<ul class="submenu">
							<!--{if $_G['admin']->hasPermission('productstorage')}-->
							<li><a href="admin.php?mod=productstorage">库存管理</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('balancereport')}-->
							<li><a href="admin.php?mod=balancereport">毛利报表</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('salereport')}-->
							<li><a href="admin.php?mod=salereport">销售报表</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('productunit')}-->
							<li><a href="admin.php?mod=productunit">商品单位</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('producttype')}-->
							<li><a href="admin.php?mod=producttype">商品类型</a></li>
							<!--{/if}-->
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('payment')}-->
					<li>
						<a href="admin.php?mod=payment">支付</a>
						<ul class="submenu">
							<!--{if $_G['admin']->hasPermission('prepaidreward')}-->
							<li><a href="admin.php?mod=prepaidreward">充值奖励</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('userwallet')}-->
							<li><a href="admin.php?mod=userwallet">充值记录</a></li>
							<!--{/if}-->
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('promotion')}-->
					<li><a href="admin.php?mod=promotion">推广</a></li>
					<!--{/if}-->
					<li>
						<a href="###">用户</a>
						<ul class="submenu">
							<!--{if $_G['admin']->hasPermission('user')}-->
							<li><a href="admin.php?mod=user">用户</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('usergroup')}-->
							<li><a href="admin.php?mod=usergroup">用户组</a></li>
							<!--{/if}-->
						</ul>
					</li>
					<!--{if $_G['admin']->hasPermission('announcement')}-->
					<li><a href="admin.php?mod=announcement">公告</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('getui')}-->
					<li>
						<a href="admin.php?mod=getui">个推</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=getui&action=send">推送消息</a></li>
							<li><a href="admin.php?mod=getui&action=config">配置</a></li>
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('address') || $_G['admin']->hasPermission('delivery') || $_G['admin']->hasPermission('station')}-->
					<li>
						<a href="###">配送</a>
						<ul class="submenu">
							<!--{if $_G['admin']->hasPermission('address')}-->
							<li><a href="admin.php?mod=address">收货地址</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('station')}-->
							<li><a href="admin.php?mod=station">配送站</a></li>
							<!--{/if}-->
							<!--{if $_G['admin']->hasPermission('delivery')}-->
							<li><a href="admin.php?mod=delivery">配送设置</a></li>
							<!--{/if}-->
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('bankaccount')}-->
					<li><a href="admin.php?mod=bankaccount">账户</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('admin')}-->
					<li><a href="admin.php?mod=admin">管理员</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('weixin')}-->
					<li>
						<a href="admin.php?mod=weixin">微信</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=weixin&action=list">自动回复</a></li>
							<li><a href="admin.php?mod=weixin&action=menu">菜单</a></li>
						</ul>
					</li>
					<!--{/if}-->
					<!--{loop $_G['module_list'] $module_name}-->
						<!--{if $_G['admin']->hasPermission($module_name)}-->
						<li>
							<a href="admin.php?mod=$module_name">{echo lang('common', 'module_'.$module_name)}</a>
							<!--{if !empty(Administrator::$Permissions[$module_name]['children'])}-->
							<ul class="submenu">
							<!--{loop Administrator::$Permissions[$module_name]['children'] $submodule_name}-->
								<li><a href="admin.php?mod=$submodule_name">{echo lang('common', 'module_'.$submodule_name)}</a></li>
							<!--{/loop}-->
							</ul>
							<!--{/if}-->
						</li>
						<!--{/if}-->
					<!--{/loop}-->
					<!--{if $_G['admin']->hasPermission('system')}-->
					<li>
						<a href="admin.php?mod=system">系统</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=mail">邮件</a></li>
							<li><a href="admin.php?mod=cache">缓存</a></li>
							<li><a href="admin.php?mod=database">数据库</a></li>
							<li><a href="admin.php?mod=file">文件校验</a></li>
						</ul>
					</li>
					<!--{/if}-->
			</ul>
			<section class="content">
