<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]管理面板</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="./view/admin/$_G[style]/image/favicon.ico"/>
<link rel="stylesheet" href="./view/admin/$_G[style]/image/common.css" type="text/css" />
<script type="text/javascript" src="./plugin/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="./js/jquery.editlist.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./js/admin.js"></script>
</head>

<body>
	<section class="container">
		<header>
			<h2>$_CONFIG[sitename]管理面板</h2>
			<div class="profile">
				<div class="account">$_ADMIN[account]</div>
				<ul class="operation">
					<li><a href="admin.php?mod=memcp&action=edit">修改个人信息</a></li>
					<li><a href="admin.php?mod=memcp&action=logout">退出</a></li>
				</ul>
			</div>
		</header>

		<section class="main">
			<ul class="menu">
					<li><a href="admin.php?mod=order">订单</a></li>
					<li>
						<a href="admin.php?mod=market">商品</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=productunit">商品单位</a></li>
							<li><a href="admin.php?mod=producttype">商品类型</a></li>
						</ul>
					</li>
					<li><a href="admin.php?mod=announcement">公告</a></li>
					<li><a href="admin.php?mod=address">地址</a></li>
					<li><a href="admin.php?mod=admin">管理员</a></li>
					<li>
						<a href="admin.php?mod=setting">设置</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=setting&type=system">系统</a></li>
							<li><a href="admin.php?mod=setting&type=delivery">配送</a></li>
							<li><a href="admin.php?mod=setting&type=qqconnect">QQ互联</a></li>
							<li><a href="admin.php?mod=setting&type=wxconnect">微信公众平台</a></li>
							<li><a href="admin.php?mod=setting&type=autoreply">自动回复</a></li>
						</ul>
					</li>
			</ul>
			<section class="content">