<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]管理面板</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="./view/admin/$_G[style]/image/favicon.ico"/>
<link rel="stylesheet" href="./view/admin/$_G[style]/image/common.css" type="text/css" />
<script type="text/javascript" src="./plugin/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="./js/jquery.editlist.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./js/admin.js"></script>
</head>

<body>
	<section class="container">
		<header>
			<h2>$_CONFIG[sitename]管理面板</h2>
			<div class="profile">
				<div class="account">$_ADMIN[account]</div>
				<ul class="operation">
					<li><a href="admin.php?mod=memcp&action=edit">修改个人信息</a></li>
					<li><a href="admin.php?mod=memcp&action=logout">退出</a></li>
				</ul>
			</div>
		</header>

		<section class="main">
			<ul class="menu">
					<!--{if $_G['admin']->hasPermission('order')}-->
					<li>
						<a href="admin.php?mod=order">订单</a>
						<ul class="submenu">
							<li><a href="$mod_url&action=search">高级查找</a></li>
							<li><a href="admin.php?mod=order&action=mark_indp">自提点上架</a></li>
							<!--{if $_G['admin']->isSuperAdmin()}-->
							<li><a href="admin.php?mod=order&action=changestate">修改订单</a></li>
							<!--{/if}-->
							<li><a href="admin.php?mod=ticket">小票设置</a></li>
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('market')}-->
					<li>
						<a href="admin.php?mod=market">商品</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=productstorage">库存管理</a></li>
							<li><a href="admin.php?mod=balancereport">毛利报表</a></li>
							<li><a href="admin.php?mod=salereport">销售报表</a></li>
							<li><a href="admin.php?mod=productunit">商品单位</a></li>
							<li><a href="admin.php?mod=producttype">商品类型</a></li>
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('payment')}-->
					<li>
						<a href="admin.php?mod=payment">支付</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=prepaidreward">充值奖励</a></li>
							<li><a href="admin.php?mod=userwallet">充值记录</a></li>
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('announcement')}-->
					<li><a href="admin.php?mod=announcement">公告</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('address')}-->
					<li><a href="admin.php?mod=address">地址</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('delivery')}-->
					<li><a href="admin.php?mod=delivery">配送</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('bankaccount')}-->
					<li><a href="admin.php?mod=bankaccount">账户</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('admin')}-->
					<li><a href="admin.php?mod=admin">管理员</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('weixin')}-->
					<li>
						<a href="admin.php?mod=weixin">微信</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=weixin&type=autoreply">自动回复</a></li>
							<li><a href="admin.php?mod=weixin&type=menu">菜单</a></li>
						</ul>
					</li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('qqconnect')}-->
					<li><a href="admin.php?mod=qqconnect">QQ互联</a></li>
					<!--{/if}-->
					<!--{if $_G['admin']->hasPermission('system')}-->
					<li>
						<a href="admin.php?mod=system">系统</a>
						<ul class="submenu">
							<li><a href="admin.php?mod=cache">缓存</a></li>
						</ul>
					</li>
					<!--{/if}-->
			</ul>
			<section class="content">
