{template header}

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=market">商品</a></li>
	<li>编辑商品</li>
</ol>

<script type="text/javascript" src="./plugin/spectrum/spectrum.min.js"></script>
<style type="text/css">
@import url(./plugin/spectrum/spectrum.css);
</style>
<script type="text/javascript">
var mod_url = '$mod_url';
var product_id = $product[id];
</script>
<script type="text/javascript" src="./js/admin_market_edit.js"></script>

<div class="box">
	<h1>商品管理 - $product[name]</h1>
	<div class="content edit_form">
		<form class="toast" action="###" method="post" enctype="multipart/form-data">
			<table>
				<tr><th>名称</th><td><input type="text" name="name" value="$product[name]" /></td></tr>
				<tr><th>介绍</th><td><textarea name="introduction">$product[introduction]</textarea></td></tr>
				<tr>
					<th>图标</th>
					<td>
						<!--{if $product['icon']}-->
						<img src="$product[icon]" width="110" /><br />
						<!--{/if}-->
						<input type="file" name="icon" />
					</td>
				</tr>
				<tr>
					<th>实物照片</th>
					<td>
						<!--{if $product['photo']}-->
						<img src="$product[photo]" /><br />
						<!--{/if}-->
						<input type="file" name="photo" />
					</td>
				</tr>
				<tr><th>文字颜色</th><td><input type="text" name="text_color" class="color" value="#$product[text_color]" /></td></tr>
				<tr><th>背景颜色</th><td><input type="text" name="background_color" class="color" value="#$product[background_color]" /></td></tr>
				<tr><th>图标背景</th><td><input type="text" name="icon_background" class="color" value="#$product[icon_background]" /></td></tr>
			</table>
			<div class="post_button">
				<button type="submit">修改</button>
			</div>
		</form>
	</div>
</div>

<div class="box">
	<h1>价格管理</h1>
	<div id="price_list" class="content list edit_list">
		<table>
			<thead>
				<tr>
					<td>价格编号</td>
					<td>说明</td>
					<td colspan="2">价格</td>
					<td colspan="2">数量</td>
					<td>库存号</td>
					<td>限购</td>
					<td>显示顺序</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<!--{loop $prices $p}-->
				<tr primaryvalue="$p[id]">
					<td>$p[id]</td>
					<td>$p[subtype]</td>
					<td>$p[price]</td>
					<td realvalue="$p[priceunit]">{echo Product::PriceUnits($p['priceunit'])}</td>
					<td>$p[amount]</td>
					<td realvalue="$p[amountunit]">{echo Product::AmountUnits($p['amountunit'])}</td>
					<td>$p[storageid]</td>
					<td>$p[quantitylimit]</td>
					<td>$p[displayorder]</td>
					<td></td>
				</tr>
				<!--{/loop}-->
				<tr>
					<td></td>
					<td><input type="text" /></td>
					<td><input type="text" class="number narrow" value="1" /></td>
					<td>{echo Template::select('', Product::PriceUnits())}</td>
					<td><input type="text" class="number narrow" value="1" /></td>
					<td>{echo Template::select('', Product::AmountUnits())}</td>
					<td><input type="text" class="number narrow storageid" /></td>
					<td><input type="text" class="number narrow" /></td>
					<td><input type="text" class="number narrow" /></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="box">
	<h1>特价管理</h1>
	<div id="countdown_list" class="content list edit_list">
		<table>
			<thead>
				<tr>
					<td>原价编号</td>
					<td>说明</td>
					<td colspan="2">价格</td>
					<td colspan="2">数量</td>
					<td>开始时间</td>
					<td>结束时间</td>
					<td>库存号</td>
					<td>限购</td>
					<td>显示顺序</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<!--{loop $countdowns $p}-->
				<tr primaryvalue="$p[id]">
					<td>$p[masked_priceid]</td>
					<td>$p[subtype]</td>
					<td>$p[price]</td>
					<td realvalue="$p[priceunit]">{echo Product::PriceUnits($p['priceunit'])}</td>
					<td>$p[amount]</td>
					<td realvalue="$p[amountunit]">{echo Product::AmountUnits($p['amountunit'])}</td>
					<td>{echo rdate($p['start_time'])}</td>
					<td>{echo rdate($p['end_time'])}</td>
					<td>$p[storageid]</td>
					<td>$p[displayorder]</td>
					<td>$p[quantitylimit]</td>
					<td></td>
				</tr>
				<!--{/loop}-->
				<tr>
					<td><input type="text" class="number narrow" /></td>
					<td><input type="text" /></td>
					<td><input type="text" class="number narrow" value="1" /></td>
					<td>{echo Template::select('', Product::PriceUnits())}</td>
					<td><input type="text" class="number narrow" value="1" /></td>
					<td>{echo Template::select('', Product::AmountUnits())}</td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" class="number narrow storageid" /></td>
					<td><input type="text" class="number narrow" /></td>
					<td><input type="text" class="number narrow" /></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="box">
	<h1>库存管理</h1>
	<div id="storage_list" class="content list edit_list">
		<table>
			<thead>
				<tr>
					<td>库存号</td>
					<td>备注</td>
					<td>库存量</td>
					<td>增减库存</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<!--{loop $storages $p}-->
				<tr primaryvalue="$p[id]">
					<td>$p[id]</td>
					<td>$p[remark]</td>
					<td>$p[num]</td>
					<td title="正数增加，负数减少"></td>
					<td></td>
				</tr>
				<!--{/loop}-->
				<tr>
					<td></td>
					<td><input type="text" /></td>
					<td>0</td>
					<td><input type="text" class="number narrow" /></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{template footer}
