{template header}

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=market">商品</a></li>
	<li>商品列表</li>
</ol>

<script type="text/javascript">
$(function(){
	$('#productlist').editlist({
		'edit' : '$mod_url&action=edit',
		'delete' : '$mod_url&action=delete',
		'attr' : ['name', 'type', 'displayorder', 'hide']
	});
});
</script>

<div class="box">
	<h1>商品管理</h1>
	<div class="content">
		<div id="productlist" class="list edit_list">
			<table>
				<thead>
					<tr>
						<td>名称</td>
						<td>类型</td>
						<td>显示顺序</td>
						<td>隐藏</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<!--{loop $products $p}-->
					<tr primaryvalue="$p[id]">
						<td>$p[name]</td>
						<td realvalue="$p[type]">{echo Product::Types($p['type'])}</td>
						<td>$p[displayorder]</td>
						<td realvalue="$p[hide]"><!--{if $p['hide']}-->是<!--{else}-->否<!--{/if}--></td>
						<td></td>
					</tr>
					<!--{/loop}-->
					<tr>
						<td><input type="text" /></td>
						<td>{echo Template::select('', Product::Types())}</td>
						<td><input type="text" /></td>
						<td>{eval echo Template::select('', array('否', '是'))}</td>
						<td><button type="button" class="add">添加</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

{template footer}
