{template header}

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=order">订单</a></li>
	<li>修改状态</li>
</ol>

<div class="box">
	<h1>修改订单状态</h1>

	<div class="content">
		<!--{if $_G['admin']->isSuperAdmin()}-->
		<form id="condition_form" class="quick_search" action="admin.php" method="get">
			<input type="hidden" name="mod" value="order" />
			<dl>
				<dt>订单号：</dt>
				<dd><input type="text" name="orderid" style="width:3em" /></dd>
				<dt>状态：</dt>
				<dd>{echo Template::select('action', array('mark_unsorted' => lang('common', 'order_unsorted'), 'mark_sorted' => lang('common', 'order_sorted'), 'mark_indp' => lang('common', 'order_in_delivery_station'), 'mark_delivering' => lang('common', 'order_delivering'), 'mark_received' => lang('common', 'order_received'), 'mark_rejected' => lang('common', 'order_rejected')))}</dd>
			</dl>
			<button type="submit">修改</button>
		</form>
		<!--{/if}-->
	</div>
</div>

{template footer}
