{template header}

<script type="text/javascript">
$(function(){
	$('#orderid').focus();

	$('#mark_form').submit(function(e){
		var orderid = $('#orderid').val();
		if(orderid.length == 13){
			orderid = orderid.substr(3, 9);
		}

		orderid = parseInt(orderid, 10);
		if(isNaN(orderid))
			return false;

		$('#orderid').val(orderid);

		var data = $(this).serialize();
		$('#orderid').val('');

		$.get($(this).attr('action'), data, function(){
			$('#correct_audio')[0].play();

			var new_result = $('<p></p>');
			new_result.html('订单号' + orderid + '上架成功！');
			$('#result_list').append(new_result);

			setTimeout(function(){
				new_result.slideUp(500, function(){
					$(this).remove();
				});
			}, 3000);
		});

		return false;
	});
});
</script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=order">订单</a></li>
	<li>自提点上架</li>
</ol>

<div class="box">
	<h1>自提点上架</h1>
	<div class="content">
		<form id="mark_form" action="admin.php" method="get" class="edit_form">
			<input type="hidden" name="mod" value="order" />
			<input type="hidden" name="action" value="mark_indp" />
			<table>
				<tr>
					<th>订单号：</th>
					<td><input type="text" id="orderid" name="orderid" /></td>
				</tr>
			</table>
			<button type="submit">上架</button>
		</form>
		<div id="result_list" class="toast_list"></div>
	</div>
</div>

<audio id="correct_audio" src="{__TEMPLATE_ROOT__}media/correct.ogg">请使用支持HTML 5的浏览器。</audio>

{template footer}
