{template header}

<script type="text/javascript" src="./js/datetime.js"></script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=order">订单</a></li>
	<li>分拣报表</li>
</ol>

<div class="box">
	<h1>商品分拣报表</h1>

	<form id="condition_form" class="quick_search" action="$mod_url" method="post">
		<dl>
			<dt>时间：</dt>
			<dd><input type="text" name="time_start" class="datetime" value="$time_start" /> - <input type="text" name="time_end" class="datetime" value="$time_end" /></dd>
		</dl>
		<dl>
			<dt>订单状态：</dt>
			<dd>
				<!--{loop $available_status $id $checked}-->
				{echo Template::checkbox("display_status[$id]", Order::$Status[$id], $checked)}
				<!--{/loop}-->
			</dd>
		</dl>
		<br />
		<dl>
			<dt>商品类型：</dt>
			<dd>
				<!--{loop Product::Types() $type_id $type_name}-->
				{echo Template::checkbox("product_type[$type_id]", $type_name, !empty($product_type[$type_id]))}
				<!--{/loop}-->
			</dd>
		</dl>
		<div class="post_buttons">
			<button type="submit" name="format" value="html">查找</button>
			<button type="submit" name="format" value="csv">导出Excel</button>
		</div>
	</form>

	<div class="content list">
		<!--{if !empty($stat_list)}-->
		<table>
			<thead>
				<tr>
					<td rowspan="2">ID</td>
					<td rowspan="2">产品</td>
					<td colspan="{echo count($top_address_list)}">统计结果</td>
				</tr>
				<tr>
					<!--{loop $top_address_list $address_id $address_name}-->
					<td>$address_name</td>
					<!--{/loop}-->
				</tr>
			</thead>
			<tbody>
				<!--{loop $stat_list $product_id $subtypes}-->
				<!--{loop $subtypes $subtype $items}-->
				<tr>
					<td>$product_id</td>
					<td>$product_list[$product_id]<!--{if !empty($subtype)}-->($subtype)<!--{/if}--></td>
					<!--{loop $top_address_list $address_id $address_name}-->
					<td>$items[$address_id][totalnum]</td>
					<!--{/loop}-->
				</tr>
				<!--{/loop}-->
				<!--{/loop}-->
			</tbody>
		</table>
		<!--{/if}-->
	</div>
</div>
