{template header}

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=order">订单</a></li>
	<li>高级查找</li>
</ol>

<script type="text/javascript" src="./plugin/datetimepicker/jquery.datetimepicker.min.js"></script>
<style type="text/css">@import url(./plugin/datetimepicker/jquery.datetimepicker.css);</style>
<script type="text/javascript">
$(function(){
	$('#delivery_address_list').on('click', 'li .add', function(e){
		var button = $(e.target);
		var li = button.parent();
		var ul = li.parent();

		var new_li = li.clone(true);
		new_li.find('input').val(0);
		ul.append(new_li);

		button.attr('class', 'remove');
		button.text('[移除]');
	});

	$('#delivery_address_list').on('click', 'li .remove', function(e){
		var button = $(e.target);
		var li = button.parent();
		li.remove();
	});
});
</script>
<script type="text/javascript">
var TSelectData = {'all_addresses' : {echo json_encode($address_components)}};
</script>
<script type="text/javascript" src="./js/cascadeselect.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="./js/admin_order_list.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="./js/datetime.js?$_CONFIG[refversion]"></script>

<div class="box">
	<h1>订单高级查找</h1>
	<div class="content">
		<form action="$mod_url" method="post" class="edit_form" target="_blank">
			<table>
				<tr>
					<th>时间：</th>
					<td><input type="text" name="time_start" class="datetime" value="{echo rdate($time_start, 'Y-m-d H:i')}" /> - <input type="text" name="time_end" class="datetime" value="{echo rdate($time_end, 'Y-m-d H:i')}" /></td>
				</tr>
				<tr>
					<th>统计：</th>
					<td>{echo Template::checkbox('stat[statonly]', '仅统计', false)} {echo Template::checkbox('stat[item]', '物品', false)} {echo Template::checkbox('stat[totalprice]', '总价格', false)}</td>
				</tr>
				<tr>
					<th>订单状态：</th>
					<td>
						<!--{loop $available_status $id $checked}-->
						{echo Template::checkbox("display_status[$id]", Order::$Status[$id], $checked)}
						<!--{/loop}-->
					</td>
				</tr>
				<tr>
					<th>订单号：</th>
					<td><input type="text" name="orderid" /></td>
				</tr>
				<tr>
					<th>订单送货地址：</th>
					<td>
						<ul id="delivery_address_list">
							<li>{echo Template::tselect('delivery_address[]', 'all_addresses', false, 0, false)} <a href="###" class="add">[增加]</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>收件人：</th>
					<td><input type="text" name="addressee" /></td>
				</tr>
				<tr>
					<th>收件人手机号：</th>
					<td><input type="text" name="mobile" /></td>
				</tr>
			</table>
			<button type="submit">确认</button>
		</form>
	</div>
</div>

{template footer}
