{template header}

<script type="text/javascript">
$(function(){
	$('#orderid').focus();
});
</script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=order">订单</a></li>
	<li>自提点上架</li>
</ol>

<div class="box">
	<h1>自提点上架</h1>
	<div class="content">
		<form action="admin.php" method="get" class="edit_form">
			<input type="hidden" name="mod" value="order" />
			<input type="hidden" name="action" value="mark_indp" />
			<table>
				<tr>
					<th>订单号：</th>
					<td><input type="text" id="orderid" name="orderid" /></td>
				</tr>
			</table>
			<button type="submit">上架</button>
		</form>
	</div>
</div>

{template footer}
