{template header}

<style type="text/css">
tr.selectable{
	cursor: pointer;
}
p.subtype{
	font-size: 9pt;
	margin: 0;
}
</style>

<script type="text/javascript">
var StorageUnitRatio = {echo json_encode($storage_unit_ratio)};

$(function(){
	$('#storagesubmit').click(function(){
		if($('input[name="bankaccount"]:checked').length == 0){
			alert('请先选择一个进货使用的资金账户。');
			return false;
		}
		return true;
	});
});
</script>
<script type="text/javascript" src="{__TEMPLATEROOT__}js/productstorage.js?$_CONFIG[refversion]"></script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=product">商品</a></li>
	<li>库存管理</li>
</ol>

<div class="box">
	<h1>商品库存</h1>
	<div class="headactions">
		<a href="$mod_url&action=log">[库存管理记录]</a>
	</div>
	<div class="content">
		<form class="toast" action="$mod_url&action=import" method="post">

			<div class="notice">
				<ol>
					<li>本次没有进货的产品保持进货量为0或空即可。</li>
					<li>若没有添加任何资金账户，进货按钮不显示，进货账户列表为空。请先到左侧边栏“账户”下添加。</li>
				</ol>
			</div>

			<div class="list">
				<table>
					<thead>
						<tr><td>商品名称</td><td>库存编号</td><td>库存备注</td><td>库存余量</td><td>采购数量</td><td>采购单价</td><td>采购总价</td></tr>
					</thead>
					<tbody>
					<!--{loop $storages $s}-->
						<tr>
							<td>
								$s[productname]
								<!--{if !empty($s['subtype'])}-->
									<!--{loop $s['subtype'] $subtype}-->
									<p class="subtype">$subtype</p>
									<!--{/loop}-->
								<!--{else}-->
									<p class="subtype">[无关联售价]</p>
								<!--{/if}-->
							</td>
							<td class="storageid">$s[id]</td>
							<td>$s[remark]</td>
							<td>{$s[num]}{$s[amountunit]}</td>
							<td><input type="text" name="amount[{$s[id]}]" class="amount number narrow" value="0" />$s[amountunit]</td>
							<td><input type="text" name="price[{$s[id]}]" class="unitprice number dnarrow" value="0.00" readonly="readonly" />{echo Product::$PriceUnit}</td>
							<td><input type="text" class="subtotal number dnarrow" value="0.00" />{echo Product::$PriceUnit}</td>
						</tr>
					<!--{/loop}-->
						<tr>
							<td>总计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><span id="totalprice">0</span>{echo Product::$PriceUnit}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h1>进货账号</h1>
			<div class="list">
				<table>
					<thead>
						<tr><td>选择</td><td>账号备注</td><td>账号余额</td></tr>
					</thead>
					<tbody>
					<!--{loop $bankaccounts $a}-->
						<tr class="selectable">
							<td><input type="radio" name="bankaccount" value="$a[id]" /></td>
							<td>$a[remark]</td>
							<td>{$a[amount]}{echo Product::$PriceUnit}</td>
						</tr>
					<!--{/loop}-->
					</tbody>
				</table>
			</div>

			<div class="post_buttons">
				<!--{if !empty($bankaccounts)}-->
				<button type="submit" id="storagesubmit">提交进货单</button>
				<!--{/if}-->
			</div>
		</form>
	</div>

</div>

{template footer}
