{template header}

<style type="text/css">
tr.selectable{
	cursor: pointer;
}
p.subtype{
	font-size: 9pt;
	margin: 0;
}
</style>

<script type="text/javascript" src="{__TEMPLATEROOT__}js/productstorage.js"></script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="admin.php?mod=product">商品</a></li>
	<li>库存管理</li>
</ol>

<div class="box">
	<h1>商品库存</h1>
	<div class="headactions">
		<a href="$mod_url&action=log">[库存管理记录]</a>
	</div>
	<div class="content">
		<form action="$mod_url&action=import" method="post">

			<div class="notice">
				<ol>
					<li>请先填写进货量和采购量，然后填写不需要自动计算的价格（成本单价、成本小计或采购单价），其他价格会自动计算。</li>
					<li>修改进货量或成本单价时，将自动重新计算成本小计和采购单价。</li>
					<li>修改采购量或采购单价时，将自动重新计算成本小计和成本单价。</li>
					<li>修改成本小计时，将自动重新计算成本单价和采购单价。</li>
					<li>本次没有进货的产品保持进货量为0或空即可。</li>
					<li>若没有添加任何资金账户，进货按钮不显示，进货账户列表为空。请先到左侧边栏“账户”下添加。</li>
				</ol>
			</div>

			<div class="list">
				<table>
					<thead>
						<tr><td>商品名称</td><td>库存编号</td><td>库存备注</td><td>余量</td><td>进货量</td><td>成本单价</td><td>成本小计</td><td>采购量</td><td>采购单价</td></tr>
					</thead>
					<tbody>
					<!--{loop $storages $s}-->
						<tr>
							<td>
								$s[productname]
								<!--{loop $s['subtype'] $subtype}-->
								<p class="subtype">$subtype</p>
								<!--{/loop}-->
							</td>
							<td>$s[id]</td>
							<td>$s[remark]</td>
							<td>{$s[num]}{$s[amountunit]}</td>
							<td><input type="text" name="amount[{$s[id]}]" class="amount number narrow" value="0" />$s[amountunit]</td>
							<td><input type="text" name="price[{$s[id]}]" class="unitprice number dnarrow" value="0.00" />{echo Product::$PriceUnit}</td>
							<td><input type="text" class="subtotal number dnarrow" value="0.00" />{echo Product::$PriceUnit}</td>
							<td>
								<input type="text" name="importamount[{$s[id]}]" class="importamount number narrow" value="0" />
								{echo Template::select('importamountunit['.$s['id'].']', Product::AmountUnits())}
							</td>
							<td><input type="text" name="importprice[{$s[id]}]" class="importunitprice number dnarrow" value="0.00" />{echo Product::$PriceUnit}</td>
						</tr>
					<!--{/loop}-->
						<tr>
							<td>总计</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><span id="totalprice">0</span>{echo Product::$PriceUnit}</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>

			<h1>进货账号</h1>
			<div class="list">
				<table>
					<thead>
						<tr><td>选择</td><td>账号备注</td><td>账号余额</td></tr>
					</thead>
					<tbody>
					<!--{loop $bankaccounts $a}-->
						<tr class="selectable">
							<td><input type="radio" name="bankaccount" value="$a[id]" /></td>
							<td>$a[remark]</td>
							<td>{$a[amount]}{echo Product::$PriceUnit}</td>
						</tr>
					<!--{/loop}-->
					</tbody>
				</table>
			</div>

			<div class="post_buttons">
				<!--{if !empty($bankaccounts)}-->
				<button type="submit">提交进货单</button>
				<!--{/if}-->
			</div>
		</form>
	</div>

</div>

{template footer}
