<!--{template header}-->

<script>
$(function(){
	$('ul.paymentmethod li input:first').prop('checked', true);
});
</script>

<section class="user layout">
	<div class="profile">
		<div class="avatar">
			<a href="index.php?mod=weixin:connect&action=updateavatar&referrer={echo rawurlencode('index.php?mod=user')}">
				<!--{if empty($_USER['avatar'])}-->
				<div class="default"></div>
				<!--{else}-->
				<img src="$_USER[avatar]" />
				<!--{/if}-->
			</a>
		</div>
		<span class="name">$_USER[account]</span>
	</div>

	<ul class="link">
		<li><a href="index.php?mod=order"><i class="icon doc-text"></i>我的订单</a></li>
		<li><a href="index.php?mod=order:ribbon"><i class="icon gift"></i>我的代金券</a></li>
		<li><a href="index.php?mod=user&action=edit"><i class="icon user"></i>个人信息</a></li>
		<li><a href="index.php?mod=payment"><i class="icon money"></i>我的钱包</a></li>
		<li>
			<!--{if $_G['user']->qqopenid}-->
			<a href="index.php?mod=qqconnect&action=unbind"><i class="icon qq"></i>解绑QQ</a>
			<!--{else}-->
			<a href="index.php?mod=qqconnect"><i class="icon qq"></i>绑定QQ</a>
			<!--{/if}-->
		</li>
		<li>
			<!--{if $_G['user']->wxopenid}-->
			<a href="index.php?mod=weixin&action=unbind"><i class="icon wechat"></i>解绑微信</a>
			<!--{else}-->
			<i class="icon wechat"></i>请向$_CONFIG[sitename]公众号发送“绑定”。
			<!--{/if}-->
		</li>
	</ul>

	<div class="post_buttons">
		<a class="button big" href="index.php?mod=user:logout">退出登录</a>
	</div>
</section>

<!--{template footer}-->
