<!--{template header}-->

<script type="text/javascript">
$(function(){
	$('ul.paymentmethod li input:first').prop('checked', true);
});
</script>

<div class="box">
	<h1>我的账号</h1>

	<div class="content edit_form">
		<div class="profile">
			<div class="icon_home"></div>
			<div class="account">$_USER[account]</div>
			<ul class="operation">
				<li><a href="index.php?mod=user&action=edit">[修改信息]</a></li>
				<li><a href="index.php?mod=payment:log">[充值记录]</a></li>
				<li><a href="index.php?mod=user&action=logout">[退出]</a></li>
			</ul>
		</div>

		<table>
			<tr>
				<th><label>QQ：</label></th>
				<td>
					<!--{if $_G['user']->qqopenid}-->
					<a href="index.php?mod=qqconnect&action=unbind">[点此解绑]</a>
					<!--{else}-->
					<a href="index.php?mod=qqconnect">[点此绑定]</a>
					<!--{/if}-->
				</td>
			</tr>
			<tr>
				<th><label>微信：</label></th>
				<td>
					<!--{if $_G['user']->wxopenid}-->
					<a href="index.php?mod=weixin&action=unbind">[点此解绑]</a>
					<!--{else}-->
					请关注$_CONFIG[sitename]公众号，发送“绑定”。
					<!--{/if}-->
				</td>
			</tr>
			<tr>
				<th><label>推荐人：</label></th>
				<td><!--{if !empty($referrer['id'])}-->$referrer[account]<!--{else}-->无<!--{/if}--></td>
			</tr>
		</table>

		<form id="rechargeform" action="index.php" method="get">
			<table>
				<tr>
					<th><label>钱包余额：</label></th>
					<td>{echo $_G['user']->wallet}{echo Wallet::$PriceUnit}</td>
				</tr>
				<tr>
					<th><label>钱包充值：</label></th>
					<td><input type="text" name="recharge" value="100.00" />{echo Wallet::$PriceUnit}</td>
				</tr>
			</table>

			<div class="lightbox">
				<h1>付款方式</h1>
				<div class="content">
					<ul class="mselect paymentmethod">
					<!--{loop Wallet::$PaymentMethod $methodid $name}-->
					<!--{if !empty(Wallet::$PaymentInterface[$methodid]) && $methodid != Wallet::ViaWallet && !empty($paymentconfig['enabled_method'][$methodid])}-->
						<li><input type="radio" name="mod" value="{echo Wallet::$PaymentInterface[$methodid]}" />$name</li>
					<!--{/if}-->
					<!--{/loop}-->
					</ul>
				</div>
			</div>

			<div class="post_buttons">
				<button type="submit">充值</button>
			</div>
		</form>
	</div>
</div>

<!--{template footer}-->
