{template header}

<script type="text/javascript">
var follow_guide_page = '$wx[follow_guide_page]';
</script>

<form class="simple login_form" id="login_form" action="index.php?mod=user:login" method="post">
	<header>$_CONFIG[sitename] - 用户登录</header>

	<div class="login_api">
		<a href="index.php?mod=qqconnect" class="qq_login">QQ登录</a>
		<a href="index.php?mod=weixin:connect" class="wechat_login">微信登录</a>
	</div>

	<input type="text" id="account" name="account" placeholder="请输入账户名" />
	<input type="password" id="password" name="password" placeholder="请输入密码" />
	<input type="hidden" name="http_referer" value="{if !empty($_GET['http_referer'])}$_GET[http_referer]{elseif !empty($_SERVER['HTTP_REFERER'])}$_SERVER[HTTP_REFERER]{/if}" />
	<div class="post_buttons">
		<button type="submit" class="big" name="action" value="login">登录</button>
		<button type="submit" class="big" name="action" value="register">注册</button>
	</div>
</form>

</section>
</body>
</html>
