{template header}

{template market_js}

<script type="text/javascript">
var DeliveryConfig = {echo json_encode($deliveryconfig)};
var Order = {PaidWithWallet : {echo Order::PaidWithWallet}};
var TSelectData = {'all_addresses' : {echo json_encode($address_components)}};
</script>
<script type="text/javascript" src="./js/cart.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="./js/cascadeselect.js?$_CONFIG[refversion]"></script>

<div class="box cart">
	<h1>我的购物车</h1>
	<div class="content">
		<ul class="product_list">
			<!--{loop $products $p}-->
			<li data-price-id="$p[priceid]">
				<div class="icon" style="background:#$p[icon_background]">
					<img data-original="$p[icon]" />
				</div>
				<div class="detail" style="background:#$p[background_color]">
					<div class="name" style="color:#$p[text_color];">$p[name]</div>
					<ul class="rule">
						<li data-product-id="$p[productid]" data-price-id="$p[priceid]" data-storage-id="$p[storageid]" data-quantity-limit="$p[quantitylimit]">
							<span class="intro">
								<span class="subtype" style="color:#$p[text_color];">$p[subtype]</span>
							</span>
							<span class="price" style="color:#$p[text_color];">$p[price]</span><span class="priceunit">{echo Product::$PriceUnit}</span><span class="amount" style="color:#$p[text_color];">$p[amount]</span><span class="amountunit" style="color:#$p[text_color];">$p[amountunit]</span>
							<div class="order_input"><input type="text" class="number" /></div>
						</li>
					</ul>
					<div class="subtotal">
						<div class="money_icon" style="background:#$p[icon_background]">￥</div>
						小计：<span class="number">$p[subtotal]</span> <span class="unit">{echo Product::$PriceUnit}</span>
					</div>
					<button type="button" class="remove"></button>
				</div>
			</li>
			<!--{/loop}-->
		</ul>
		<!--{if !empty($item_deleted)}-->
		<div class="notice">由于库存紧缺，您刚刚有些商品被别人先下手啦QAQ，所以没有出现在购物车中。</div>
		<!--{/if}-->

		<div class="total">
			<div class="icon"></div>
			总计：
			<div class="prices">
				<span class="number" id="total_price">$total_price</span>
				<span class="unit">{echo Product::$PriceUnit}</span>
			</div>
		</div>

		<form action="cart.php" method="post">
			<div class="lightbox message">
				<h1>购物留言</h1>
				<div class="content">
					<input type="text" name="message" placeholder="你有什么想告诉我们的吗？" />
				</div>
			</div>
			<div class="lightbox">
				<h1>付款方式<em>钱包余额：<span id="userwallet">{$_USER[wallet]}</span>{echo Product::$PriceUnit}</em></h1>
				<div class="content">
					<ul class="mselect">
					<!--{loop Order::$PaymentMethod $methodid $label}-->
						<!--{if !empty($paymentconfig['enabled_method'][$methodid])}-->
						<li><input type="radio" name="paymentmethod" value="$methodid" />$label</li>
						<!--{/if}-->
					<!--{/loop}-->
					</ul>
				</div>
			</div>
			<div class="lightbox deliveryaddress">
				<h1>收货地址</h1>
				<div class="content">
					<ul class="mselect">
						<!--{loop $delivery_addresses $i $a}-->
						<li{if $i == 0} class="checked"{/if}><input type="radio" name="deliveryaddressid" value="$a[id]"{if $i == 0} checked="checked"{/if} />$a[address_text]<a href="###" class="remove">x</a></li>
						<!--{/loop}-->
						<li><input type="radio" name="deliveryaddressid" value="0" />使用新地址</li>
					</ul>
					<table id="new_address_table" style="display:none">
						<tr>
							<th><label>地址：</label></th>
							<td>{echo Template::tselect('deliveryaddress', 'all_addresses')}</td>
						</tr>
						<tr>
							<th><label for="addressee">收货人：</label></th>
							<td><input type="text" name="addressee" placeholder="收货人姓名" /></td>
							</p>
						<tr>
							<th><label for="mobile">联系电话：</label></th>
							<td><input type="text" name="mobile" placeholder="收货人联系电话" /></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="lightbox deliverymethod">
				<h1>配送方式</h1>
				<div class="content">
					<p>运费：<span id="deliveryfee"> - </span>{echo Product::$PriceUnit}</p>
					<ul class="mselect">
						<li class="checked"><input type="radio" name="deliverymethod" value="{echo Order::StationDelivery}" checked="checked" onclick="$('.deliverytime').hide()" />自提点取货</li>
						<li><input type="radio" name="deliverymethod" value="{echo Order::HomeDelivery}" onclick="$('.deliverytime').show()" />送货上门</li>
					</ul>
					<!--{loop Order::$DeliveryMethod $methodid $methodname}-->
					<!--{if $deliveryconfig[$methodid]['fee'] > 0}-->
					<p>
						若选择【{$methodname}】，订单总额&lt;{echo $deliveryconfig[$methodid]['maxorderprice']}{echo Product::$PriceUnit}时收取配送费{echo $deliveryconfig[$methodid]['fee']}{echo Product::$PriceUnit}
					</p>
					<!--{/if}-->
					<!--{/loop}-->
				</div>
			</div>
			<div class="lightbox deliverytime" style="display:none">
				<h1>收货时间</h1>
				<div class="content">
					<ul class="mselect">
						<!--{eval list($i, $s) = each($delivery_timespans);}-->
						<li class="checked"><input type="radio" name="deliverytime" value="$s[id]" checked="checked" />{echo rdate($s['time_from'], 'm月d日 H:i')}~{echo rdate($s['time_to'], 'H:i')}</li>
						<!--{eval while(list($i, $s) = each($delivery_timespans)){ }-->
						<li><input type="radio" name="deliverytime" value="$s[id]" />{echo rdate($s['time_from'], 'm月d日 H:i')}~{echo rdate($s['time_to'], 'H:i')}</li>
						<!--{eval } }-->
					</ul>
				</div>
			</div>
			<div class="post_buttons">
				<button type="submit" id="cart_button">提交订单</button>
			</div>
		</form>
	</div>
</div>

{template footer}
