{template header}

<script type="text/javascript">
var deliveryfee = {echo json_encode($deliveryfee)};
var price_units = {echo json_encode(Product::PriceUnits())};
$(function(){
	$('input[name="deliverytime"]').click(function(){
		var fee = $(this).val() == 0 ? deliveryfee.pickup : deliveryfee.normal;
		$('#deliveryfee').html(fee.value + price_units[fee.unit]);
	});
});
</script>

<div class="box cart">
	<h1>我的购物车</h1>
	<div class="content">
		<ul class="product_list">
			<!--{loop $products $p}-->
			<li price-id="$p[priceid]">
				<div class="icon" style="background:#$p[icon_background]">
					<img src="$p[icon]" />
				</div>
				<div class="detail" style="background:#$p[background_color]">
					<div class="name" style="color:#$p[text_color];">$p[name]</div>
					<ul class="rule">
						<li product-id="$p[productid]" price-id="$p[priceid]">
							<span class="subtype" style="color:#$p[text_color];">$p[subtype]</span>
							<span class="price" style="color:#$p[text_color];">$p[price]</span>
							<span class="priceunit">{echo Product::$PriceUnit}</span>
							<span class="amount" style="color:#$p[text_color];">$p[amount]</span>
							<span class="amountunit" style="color:#$p[text_color];">$p[amountunit]</span>
							x
							<span class="number">$p[number]</span>
						</li>
					</ul>
					<div class="subtotal">
						<div class="money_icon" style="background:#$p[icon_background]">￥</div>
						小计：<span class="number">$p[subtotal]</span> <span class="unit">{echo Product::$PriceUnit}</span>
					</div>
					<button type="button" class="remove"></button>
				</div>
			</li>
			<!--{/loop}-->
		</ul>
		<!--{if !empty($item_deleted)}-->
		<div class="notice">由于库存紧缺，您刚刚有些商品被别人先下手啦QAQ，所以没有出现在购物车中。</div>
		<!--{/if}-->

		<div class="total">
			<div class="icon"></div>
			总计：
			<div class="prices">
				<span class="number" id="total_price">$total_price</span>
				<span class="unit">{echo Product::$PriceUnit}</span>
			</div>
		</div>

		<form action="cart.php" method="post">
			<div class="lightbox message">
				<h1>购物留言</h1>
				<div class="content">
					<input type="text" name="message" placeholder="你有什么想告诉我们的吗？" />
				</div>
			</div>
			<div class="lightbox">
				<h1>付款方式<em>钱包余额：{$_USER[wallet]}{echo Product::$PriceUnit}</em></h1>
				<div class="content">
					<ul class="mselect">
					<!--{loop Order::$PaymentMethod $methodid $label}-->
						<li><input type="radio" name="paymentmethod" value="$methodid" />$label</li>
					<!--{/loop}-->
					</ul>
				</div>
			</div>
			<div class="lightbox deliveryaddress">
				<h1>收货地址</h1>
				<div class="content">
					<ul class="mselect">
						<!--{loop $delivery_addresses $i $a}-->
						<li{if $i == 0} class="checked"{/if}><input type="radio" name="deliveryaddressid" value="$a[id]"{if $i == 0} checked="checked"{/if} />$a[address_text]<a href="###" class="remove">x</a></li>
						<!--{/loop}-->
						<li><input type="radio" name="deliveryaddressid" value="0" />使用新地址</li>
					</ul>
					<table id="new_address_table" style="display:none">
						<tr>
							<th><label>地址：</label></th>
							<td>{echo Template::tselect('deliveryaddress', Address::Format(), Address::Components())}</td>
						</tr>
						<tr>
							<th><label for="addressee">收货人：</label></th>
							<td><input type="text" name="addressee" placeholder="收货人姓名" /></td>
							</p>
						<tr>
							<th><label for="mobile">联系电话：</label></th>
							<td><input type="text" name="mobile" placeholder="收货人联系电话" /></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="lightbox deliverytime">
				<h1>收货时间 <em>(运费：<span id="deliveryfee"> - </span>)</em></h1>
				<div class="content">
					<ul class="mselect">
						<li class="checked"><input type="radio" name="deliverytime" value="0" checked="checked" />自提</li>
						<!--{loop $delivery_timespans $i $s}-->
						<li><input type="radio" name="deliverytime" value="$s[id]" />{echo rdate($s['time_from'], 'm月d日 H:i')}~{echo rdate($s['time_to'], 'H:i')}</li>
						<!--{/loop}-->
					</ul>
				</div>
			</div>
			<div class="post_buttons">
				<button type="submit">提交订单</button>
			</div>
		</form>
	</div>
</div>

{template footer}
