		<div class="debug">
			<div class="copyright">Authored by Kazuichi Takashiro © 2013 - 2015</div>
			<div class="runtime">
				GMT {TIMEZONE}, {echo rdate(TIMESTAMP, 'Y-m-d H:i:s')}, Processed in {echo microtime(true) - $_G['starttime']} seconds, {echo $db->querynum} Quer<!--{if $db->querynum > 1}-->ies<!--{else}-->y<!--{/if}-->
			</div>
		</div>
	</section>
	<footer>
		<ul class="button_list">
			<li id="myorder"><a href="order.php">我的订单<span id="delivering-order-number" class="number_notice">0</span></a></li>
			<li id="mywallet"><a href="wallet.php">我的钱包</a></li>
			<li id="buy"><a href="market.php">商城</a></li>
			<li id="cart"><a href="cart.php">购物车<span id="cart-goods-number" class="number_notice">0</span></a></li>
		</ul>
	</footer>
	<script type="text/javascript" src="./js/cart.js?$_CONFIG[refversion]"></script>
</body>
</html>
