<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="author" content="Kazuichi Takashiro" />
<link rel="shortcut icon" href="./view/user/$_G[style]/image/favicon.ico?$_CONFIG[refversion]"/>
<link rel="stylesheet" href="./view/user/$_G[style]/image/common.css?$_CONFIG[refversion]" type="text/css" />
<link rel="stylesheet" type="text/css" media="screen and (min-width:800px)" href="./view/user/$_G[style]/image/desktop.css?$_CONFIG[refversion]" type="text/css">
<script type="text/javascript" src="./plugin/jquery/jquery-2.0.3.min.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="./js/common.js?$_CONFIG[refversion]"></script>
<script type="text/javascript">
var cookiepre = '$_CONFIG[cookiepre]';
</script>
<!--{if isset($_CONFIG['head_element'])}-->$_CONFIG[head_element]<!--{/if}-->
</head>

<body>
	<section class="container">
		<header>
			<div id="sharebox" data-id="share-box">
				<p>
				<!--{if $_G['user']->isLoggedIn()}-->
					<a href="home.php">$_USER[account]</a>
					<a href="memcp.php?action=logout">[退出]</a>
				<!--{else}-->
					<a href="memcp.php?action=login" class="button">登录</a>
					<a href="qqconnect.php"><img src="./view/user/$_G[style]/image/qqconnect_small.png" /></a>
				<!--{/if}-->
				</p>
			</div>
		</header>