{template header}

<div class="box">
	<h1>我的订单</h1>
	<div class="content">
		<div class="profile">
			<div class="icon_home"></div>
			<div class="account">$_USER[account]</div>
			<ul class="operation">
				<li><a href="memcp.php">修改个人信息</a></li>
				<li><a href="memcp.php?action=logout">退出</a></li>
			</ul>
		</div>

		<div class="order_list">
			<table>
				<thead>
					<tr>
						<td>物品</td>
						<td>价格</td>
						<td>编号</td>
						<td>状态</td>
						<td width="48">操作</td>
					</tr>
				</thead>
				<tbody>
				<!--{loop $orders $o}-->
					<tr>
						<td>$o[items]</td>
						<td>{$o[totalprice]}{$o[priceunit]}<!--{if $o['deliveryfee'] > 0}--><p class="deliveryfee">(含运费$o[deliveryfee]元)</p><!--{/if}--></td>
						<td>$o[id]</td>
						<td>{echo Order::$Status[$o['status']]}</td>
						<td>
							<a href="home.php?action=view&orderid=$o[id]" class="view">[详细]</a>
							<!--{if $o['status'] == Order::Unsorted}-->
								<a href="home.php?action=delete&orderid=$o[id]">[取消]</a>
							<!--{elseif $o['status'] == Order::Sorted || $o['status'] == Order::Delivering}-->
								<a href="home.php?action=mark_received&orderid=$o[id]">[签收]</a>
							<!--{/if}-->
							<!--{if $o['paymentmethod'] == Order::PaidOnline && $o['alipaystate'] != Order::TradeSuccess && $o['alipaystate'] != Order::TradeFinished}-->
								<a href="alipay.php?orderid=$o[id]">[付款]</a>
							<!--{/if}-->
						</td>
					</tr>
				<!--{/loop}-->
				</tbody>
			</table>
		</div>
	</div>
</div>

{eval echo Template::mpage($pagenum, $page, $limit, 'home.php')}

{template footer}
