{template header}

<style text="text/css">
@import url(./view/user/$_G[style]/image/login.css?$_CONFIG[refversion]);
</style>

<script type="text/javascript">
var follow_guide_page = '$wx[follow_guide_page]';
</script>
<script type="text/javascript" src="{__TEMPLATE_ROOT__}js/login.js?$_CONFIG[refversion]"></script>

<form id="login_form" action="memcp.php?action=login" method="post" onkeydown="if(event.keyCode==13){return false;}">
	<div class="login_form">
		<div class="header">
			$_CONFIG[sitename] - 用户<span id="action_text">登录</span>
		</div>
		<label for="account">账号</label><input type="text" id="account" name="account" />
		<label for="password">密码</label><input type="password" id="password" name="password" />
		<div class="for_register">
			<label for="password2">再次确认密码</label><input type="password" id="password2" name="password2" />
		</div>
		<input type="hidden" name="http_referer" value="{if !empty($_GET['http_referer'])}$_GET[http_referer]{/if}" />
		<div class="post_buttons">
			<button type="submit" id="login_button" name="action" value="login">登录</button>
			<button type="submit" id="register_button" name="action" value="register">注册</button>
		</div>
		<div class="login_api">
			<a href="qqconnect.php" class="qq_login"></a>
			<a href="###" class="wechat_login"></a>
		</div>
	</div>
</form>

</section>
</body>
</html>
