{template header}

{template market_js}

<div class="announcement">
	<div class="sticker_left"></div>
	<div class="sticker_right"></div>
	<div class="body">
		<h4><img src="./view/user/$_G[style]/image/icon_watermelon2.png" />$_CONFIG[sitename]公告栏！</h4>
		<ul class="content">
			<!--{loop $announcements $a}-->
			<li>
				<div class="title">$a[title]</div>
				<div class="detail">$a[content]</div>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
</div>

<div class="product_type">
	<div class="wrapper">
		<ul>
		<!--{loop Product::Types() $typeid $typename}-->
			<li{if $type == $typeid} class="current"{/if}><a href="market.php?type=$typeid">$typename</a></li>
		<!--{/loop}-->
		</ul>
		<div class="more">▽</div>
	</div>
</div>

<ul class="product_list">
	<!--{loop $products $p}-->
	<li>
		<div class="icon" style="background:#$p[icon_background]">
			<img src="$p[icon]" />
		</div>
		<div class="detail" style="background:#$p[background_color]">
			<div class="name" style="color:#$p[text_color];">$p[name]</div>
			<div class="soldout">销量：<span class="value">$p[soldout]</span></div>
			<!--{if !empty($p['briefintro'])}--><div class="briefintro" style="color:#$p[text_color];">$p[briefintro]</div><!--{/if}-->
			<ul class="rule">
				<!--{if $p['rule']}-->
					<!--{loop $p['rule'] $r}-->
						<li product-id="$p[id]" price-id="$r[id]" storage-id="$r[storageid]" quantity-limit="$r[quantitylimit]">
							<span class="intro" style="color:#$p[text_color];"><span class="subtype">$r[subtype]</span><!--{if $r['is_countdown']}--><div class="countdown" style="background:#$p[text_color]">降</div><!--{/if}--><!--{if !empty($r['briefintro'])}--><span class="briefintro">$r[briefintro]</span><!--{/if}--></span>
							<span class="price" style="color:#$p[text_color];">$r[price]</span><span class="priceunit">{echo Product::$PriceUnit}</span><span class="amount" style="color:#$p[text_color];">$r[amount]</span><span class="amountunit" style="color:#$p[text_color];">$r[amountunit]</span>
							<div class="order_input numberbox"><!--{if $r['amount'] > 1}--><div class="unit">x{$r[amount]}</div><!--{/if}--></div>
						</li>
					<!--{/loop}-->
				<!--{else}-->
				<li>啊哦，$p[name]已经卖光了QAQ</li>
				<!--{/if}-->
			</ul>
			<div class="more">
				<a href="###">查看更多</a>
			</div>
			<div class="photo"><img src="$p[photo]" /></div>
			<div class="introduction">$p[introduction]</div>
		</div>
	</li>
	<!--{/loop}-->
</ul>

{template footer}
