<!--{template header}-->

<script src="js/jquery.editlist.js?$_CONFIG[refversion]"></script>
<script>
$(function(){
	$('#unit_list').editlist({
		'edit' : '$mod_url&action=edit',
		'delete' : '$mod_url&action=delete',
		'attr' : ['deadline', 'time_from', 'time_to', 'effective_time', 'expiry_time', 'hidden'],
		'buttons' : {'delete':'删除'}
	});
});
</script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li>配送</li>
</ol>

<div class="box edit_form">
	<h2>配送费用设置</h2>

	<form class="toast" action="$mod_url&action=config" method="post">
		<table>
			<thead>
				<tr>
					<th></th>
					<td>配送方式</td>
					<td>配送费（{echo Product::$PriceUnit}）</td>
					<td>生效条件</td>
					<td>显示顺序</td>
				</tr>
			</thead>
			<tbody>
			<!--{loop Order::$DeliveryMethod $methodid $methodname}-->
				<tr>
					<th></th>
					<td>$methodname</td>
					<td><input type="text" name="config[{$methodid}][fee]" value="{echo $deliveryconfig[$methodid]['fee']}" /></td>
					<td>订单总额&lt;<input type="text" name="config[{$methodid}][maxorderprice]" value="{echo $deliveryconfig[$methodid]['maxorderprice']}" />{echo Product::$PriceUnit}</td>
					<td><input type="text" class="number" name="config[{$methodid}][displayorder]" value="{echo $deliveryconfig[$methodid]['displayorder']}" /></td>
				</tr>
			<!--{/loop}-->
			</tbody>
		</table>

		<div class="post_buttons">
			<button type="submit">修改设置</button>
		</div>
	</form>
</div>

<div class="box">
	<h2>每日配送时间段设置</h2>
	<div id="unit_list" class="list">
		<table>
			<thead><tr><td>下单终止时间</td><td>配送开始时间</td><td>配送结束时间</td><td>生效时间</td><td>失效时间</td><td>隐藏</td><td>操作</td></tr></thead>
			<tbody>
				<!--{loop $delivery_timespans $s}-->
				<tr data-primaryvalue="$s[id]">
					<td>$s[deadline]</td>
					<td>$s[time_from]</td>
					<td>$s[time_to]</td>
					<td>$s[effective_time]</td>
					<td>$s[expiry_time]</td>
					<td data-realvalue="$s[hidden]"><!--{if $s['hidden']}-->是<!--{else}-->否<!--{/if}--></td>
					<td></td>
				</tr>
				<!--{/loop}-->
				<tr>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><select><option value="0" selected="selected">否</option><option value="1">是</option></select></td>
					<td><button type="button" class="add">添加</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="notice">
		<ol>
			<li>时间格式H:i:s，如12:30:00，分和秒可省略。超过今日下单终止时间后，会自动显示为次日的配送时间。</li>
			<li>需要直接设置第二天（或第三天等）时间可增加24小时，如25:00:00表示第二天凌晨1点。</li>
		</ol>
	</div>
</div>

<!--{template footer}-->
