<!--{template header}-->

<script src="js/datetime.js?$_CONFIG[refversion]"></script>
<script src="js/jquery.editlist.js?$_CONFIG[refversion]"></script>
<script>
$(function(){
	$('#station_list').editlist({
		'edit': '$mod_url&action=edit',
		'delete': '$mod_url&action=delete',
		'attr' : ['name', 'address']
	});
});
</script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="###">配送</a></li>
	<li>配送站列表</li>
</ol>

<div class="box list">
	<h1>配送站列表</h1>

	<form id="condition_form" class="quick_search" action="admin.php" method="get">
		<input type="hidden" name="mod" value="$mod" />
		<dl>
			<dt>时间：</dt>
			<dd><input type="text" name="time_start" class="datetime" value="$time_start" /> - <input type="text" name="time_end" class="datetime" value="$time_end" /></dd>
		</dl>
		<div class="post_buttons">
			<button type="submit">查询</button>
		</div>
	</form>

	<div class="content">
		<table id="station_list">
			<thead><tr><td>名称</td><td>地址</td><td>送货速度</td><td>商品质量</td><td>服务态度</td><td>评价次数</td><td>操作</td></tr></thead>
			<tbody>
			<!--{loop $station_list $s}-->
				<tr data-primaryvalue="$s[id]">
					<td>$s[name]</td>
					<td>$s[address]</td>
					<td>{echo sprintf('%.2f', $s['level1'])}</td>
					<td>{echo sprintf('%.2f', $s['level2'])}</td>
					<td>{echo sprintf('%.2f', $s['level3'])}</td>
					<td>$s[commentnum]</td>
					<td></td>
				</tr>
			<!--{/loop}-->
			<tr>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><button type="button" class="add">添加</button></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<!--{template footer}-->
