<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]自助打印提货单</title>
<base href="{$_G[root_url]}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="./extension/module/order/admin/view/image/ticket_printer.css?$_CONFIG[refversion]" type="text/css" />
<!--{if !empty($_CONFIG['jquery_cdn'])}-->
<script type="text/javascript" src="$_CONFIG[jquery_cdn]"></script>
<!--{/if}-->
<script type="text/javascript">window.jQuery || document.write('<script src="./3rdparty/jquery/jquery-3.0.0.min.js"><\/script>');</script>
<script type="text/javascript" src="./extension/module/order/admin/view/js/ticket_printer.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="./js/datetime.js"></script>
</head>

<body>
	<section class="container">
		<header>
			<h2>$_CONFIG[sitename]</h2>
		</header>

		<div class="box">
			<h2><img src="extension/view/user/pink/image/logo.png" width="150" height="50" />自助打印提货单</h2>
			<div class="content">
				<table>
					<tr>
						<th>下单时间：</th>
						<td><input type="text" class="datetime" id="time_start" value="{echo rdate($time_start, 'Y-m-d H:i')}" /> - <input type="text" class="datetime" id="time_end" value="{echo rdate($time_end, 'Y-m-d H:i')}" /></td>
					</tr>
					<tr>
						<th>订单号或手机号：</th>
						<td><input type="text" id="orderid_or_mobile" autocomplete="off" /></td>
					</tr>
				</table>

				<div class="number_board">
					<button type="button">7</button>
					<button type="button">8</button>
					<button type="button">9</button>
					<button type="button">4</button>
					<button type="button">5</button>
					<button type="button">6</button>
					<button type="button">1</button>
					<button type="button">2</button>
					<button type="button">3</button>
					<button type="button">*</button>
					<button type="button">0</button>
					<button type="button">#</button>
				</div>

				<div class="post_buttons">
					<button type="submit" id="print_button">查询</button>
					<button type="button" id="backspace_button">退格</button>
					<button type="button" id="clear_button">清空</button>
				</div>
			</div>
		</div>
		<footer>
			Authored by Kazuichi Takashiro, Computer Science, Sichuan University & Zhejiang University
		</footer>
	</section>
</body>
</html>
