{template header}

<div class="box cart">
	<h1>我的购物车</h1>
	<div class="content">
		<ul class="product_list">
			<!--{loop $products $p}-->
			<li price-id="$p[id]">
				<div class="icon">
					<img src="$p[icon]" />
				</div>
				<div class="detail" style="background:#$p[background_color]">
					<div class="name" style="color:#$p[text_color];">$p[name]</div>
					<ul class="rule">
						<li product-id="$p[productid]" price-id="$p[id]">
							<span class="subtype" style="color:#$p[text_color];">$p[subtype]</span>
							<span class="price" style="color:#$p[text_color];">$p[price]</span>
							<span class="priceunit">$p[priceunit]</span>
							<span class="amount" style="color:#$p[text_color];">$p[amount]</span>
							<span class="amountunit" style="color:#$p[text_color];">$p[amountunit]</span>
							x
							<span class="number">$p[number]</span>
						</li>
					</ul>
					<div class="subtotal">
						小计：<span class="number">$p[subtotal]</span> <span class="unit">$p[priceunit]</span>
					</div>
					<button type="button" class="remove"></button>
				</div>
			</li>
			<!--{/loop}-->
		</ul>
		<div class="total">
			<div class="icon"></div>
			总计：
			<div class="prices">
				<!--{loop $total_price $price_unit $price}-->
				<span class="number" id="total_price">$price</span>
				<span class="unit">{eval echo Product::PriceUnits($price_unit);}</span>
				<!--{/loop}-->
			</div>
		</div>

		<form action="$PHP_SELF" method="post">
			<div class="lightbox message">
				<h1>购物留言</h1>
				<div class="content">
					<input type="text" name="message" />
				</div>
			</div>
			<div class="lightbox deliveryaddress">
				<h1>收货地址</h1>
				<div class="content">
					<ul class="mselect">
						<!--{loop $delivery_addresses $i $a}-->
						<li{if $i == 0} class="checked"{/if}><input type="radio" name="deliveryaddressid" value="$a[id]"{if $i == 0} checked="checked"{/if} />$a[address_text]</li>
						<!--{/loop}-->
						<li><input type="radio" name="deliveryaddressid" value="0" />使用新地址</li>
					</ul>
					<table>
						<tr>
							<td><label>地址：</label></td>
							<td>{eval echo Template::tselect('deliveryaddress', Address::Format(), Address::Components());}</td>
						</tr>
						<tr>
							<td><label>收件人：</label></td>
							<td><input type="text" name="addressee" /></td>
							</p>
						<tr>
							<td><label>联系电话：</label></td>
							<td><input type="text" name="mobile" /></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="post_buttons">
				<button type="submit">提交订单</button>
			</div>
		</form>
	</div>
</div>

{template footer}
