		<div class="debug">
			<div class="copyright">Powered By Kazuichi Takashiro ©2013</div>
			<div class="runtime">
				GMT {TIMEZONE}, {echo rdate(TIMESTAMP, 'Y-m-d H:i:s')}, Processed in {echo microtime(true) - $_G['starttime']} seconds, {echo $db->querynum} Quer<!--{if $db->querynum > 1}-->ies<!--{else}-->y<!--{/if}-->
			</div>
		</div>
	</section>
	<footer>
		<ul class="button_list">
			<li id="myorder"><a href="home.php">我的订单</a></li>
			<li id="buyfruit"><a href="market.php">购买水果</a></li>
			<li id="buypackage"><a href="market.php?type=1">购买套餐</a></li>
			<li id="cart"><a href="cart.php">购物车<span id="cart-goods-number">0</span></a></li>
		</ul>
	</footer>
	<script type="text/javascript" src="./js/cart.js?$_CONFIG[refversion]"></script>
</body>
</html>
