<!DOCTYPE HTML>
<html>
<head>
<title>$_CONFIG[sitename]</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta property="qc:admins" content="55052444711120424677471036375" />
<link rel="shortcut icon" href="./view/$_G[style]/image/favicon.ico"/>
<link rel="stylesheet" href="./view/$_G[style]/image/common.css" type="text/css" />
<link rel="stylesheet" type="text/css" media="screen and (min-width:800px)" href="./view/$_G[style]/image/desktop.css" type="text/css">
<script type="text/javascript" src="./plugin/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript">
var cookiepre = '$_CONFIG[cookiepre]';
</script>
</head>

<body>
	<section class="container">
		<header>
			<div id="sharebox" data-id="share-box">
				<p><a href="qqconnect.php"><img src="./view/$_G[style]/image/qqconnect_small.png" /></a></p>
				<p>
					<span>关注我们</span>
					<a id="renren" href="###" target="_blank"><img src="./view/$_G[style]/image/renren_logo.png" /></a>
					<a id="weibo" href="###" target="_blank"><img src="./view/$_G[style]/image/weibo_logo.png" /></a>
				</p>
			</div>
		</header>