{template header}

<div class="box">
	<h1>我的订单</h1>
	<div class="content">
		<div class="profile">
			<div class="icon_home"></div>
			<div class="account">$_USER[account]</div>
			<ul class="operation">
				<li><a href="memcp.php">修改个人信息</a></li>
				<li><a href="memcp.php?action=logout">退出</a></li>
			</ul>
		</div>

		<div class="order_list">
			<table>
				<thead>
					<tr>
						<td>编号</td>
						<td>物品</td>
						<td>总价</td>
						<td>下单时间</td>
						<td>收件人</td>
						<td>状态</td>
					</tr>
				</thead>
				<tbody>
				<!--{loop $orders $o}-->
					<tr>
						<td>$o[id]</td>
						<td>$o[items]</td>
						<td>$o[totalprice] $o[priceunit]</td>
						<td>{eval echo rdate($o['dateline']);}</td>
						<td>$o[addressee]</td>
						<td>{eval echo Order::$Status[$o['status']];}</td>
					</tr>
				<!--{/loop}-->
				</tbody>
			</table>
		</div>
	</div>
</div>

{template footer}
