{template header}

<div class="box">
	<h1>我的订单</h1>
	<div class="content">
		<dl class="form">
			<dt>订单编号：</dt><dd>$order[id]</dd>
			<dt>下单时间：</dt><dd>$order[dateline]</dd>
			<dt>收件人：</dt><dd>$order[addressee]</dd>
			<dt>联系电话：</dt><dd>$order[mobile]</dd>
			<dt>配送地址：</dt><dd>$order[deliveryaddress]</dd>
			<dt>用户留言：</dt><dd>$order[message]</dd>
			<dt>物品：</dt><dd><dl>
					<!--{loop $order['detail'] $d}-->
					<dt>$d[productname]<!--{if !empty($d['subtype'])}-->($d[subtype])<!--{/if}--> {echo $d['amount'] * $d['number']} $d[amountunit]</dt><dd>$d[subtotal] $order[priceunit]</dd>
					<!--{/loop}-->
			</dl></dd>
			<dt>总计：</dt><dd>$order[totalprice] $order[priceunit]</dd>

			<dt>订单状态：</dt><dd><ul>
				<li>{$order[dateline]}，您在{$_CONFIG[sitename]}下单</li>
			<!--{loop $orderlog $log}-->
				<li>{echo rdate($log['dateline'])}，
					<!--{if $log['operatorgroup'] == Order::SystemOperated}-->
						系统
					<!--{elseif $log['operatorgroup'] == Order::AdministratorOperated}-->
						<!--{if $log['realname']}-->
						$log[realname]<!--{if $log['mobile']}-->(手机:$log[mobile])<!--{/if}-->
						<!--{else}-->
							匿名管理员
						<!--{/if}-->
					<!--{else}-->
						您
					<!--{/if}-->
					<!--{if $log['operation'] == Order::StatusChanged}-->
						<!--{if $log['extra'] == Order::Unsorted}-->
							重新分拣了订单
						<!--{elseif $log['extra'] == Order::Sorted}-->
							为您打包了订单
						<!--{elseif $log['extra'] == Order::Delivering}-->
							正在为您配送
						<!--{elseif $log['extra'] == Order::Received}-->
							<!--{if $log['operatorgroup'] == Order::UserOperated}-->
							已签收订单
							<!--{else}-->
							已送达您手中
							<!--{/if}-->
						<!--{elseif $log['extra'] == Order::Rejected}-->
							<!--{if $log['operatorgroup'] == Order::UserOperated}-->
							已拒收订单
							<!--{else}-->
							已被您拒收订单
							<!--{/if}-->
						<!--{/if}-->
					<!--{/if}-->
				</li>
			<!--{/loop}-->
			</ul></dd>
		<dl>

		<ul>
		
		</ul>
	</div>
</div>

{template footer}