{template header}

<script type="text/javascript" src="./js/market.js"></script>

<div class="announcement">
	<div class="sticker_left"></div>
	<div class="sticker_right"></div>
	<div class="body">
		<h4><img src="./view/$_G[style]/image/icon_watermelon2.png" />$_CONFIG[sitename]公告栏！</h4>
		<ul class="content">
			<!--{loop $announcements $a}-->
			<li>
				<div class="title">$a[title]</div>
				<div class="detail">$a[content]</div>
				<a href="###">点击查看详情</a>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
</div>

<ul class="product_list">
	<!--{loop $products $p}-->
	<li>
		<div class="icon" style="background:#$p[icon_background]">
			<img src="$p[icon]" />
		</div>
		<div class="detail" style="background:#$p[background_color]">
			<div class="name" style="color:#$p[text_color];">$p[name]</div>
			<div class="soldout">销量：<span class="value">$p[soldout]</span></div>
			<ul class="rule">
			<!--{loop $p['rule'] $r}-->
				<li product-id="$p[id]" price-id="$r[id]">
					<span class="subtype" style="color:#$p[text_color];">$r[subtype]<!--{if $r['is_countdown']}--><div class="countdown" style="background:#$p[text_color]">降</div><!--{/if}--></span>
					<span class="price" style="color:#$p[text_color];">$r[price]</span><span class="priceunit">$r[priceunit]</span><span class="amount" style="color:#$p[text_color];">$r[amount]</span><span class="amountunit" style="color:#$p[text_color];">$r[amountunit]</span>
					<div class="order_input numberbox"><!--{if $r['amount'] > 1}--><div class="unit">x{$r[amount]}</div><!--{/if}--></div>
				</li>
			<!--{/loop}-->
			</ul>
			<div class="more">
				<a href="###">查看更多</a>
			</div>
			<div class="photo"><img src="$p[photo]" /></div>
			<div class="introduction">$p[introduction]</div>
		</div>
	</li>
	<!--{/loop}-->
</ul>

{template footer}
