{template header}

<script type="text/javascript" src="./js/cart.js"></script>
<script type="text/javascript" src="./js/market.js"></script>

{template announcement}

<ul class="product_list">
	<!--{loop $products $p}-->
	<li>
		<div class="icon" style="background:#$p[icon_background]">
			<img src="$p[icon]" />
		</div>
		<div class="detail" style="background:#$p[background_color]">
			<div class="name" style="color:#$p[text_color];">$p[name]</div>
			<div class="soldout">销量：<span class="value">$p[soldout]</span></div>
			<ul class="rule">
			<!--{loop $p['rule'] $r}-->
				<li product-id="$p[id]" price-id="$r[id]">
					<span class="subtype" style="color:#$p[text_color];">$r[subtype]</span>
					<span class="price" style="color:#$p[text_color];">$r[price]</span>
					<span class="priceunit">$r[priceunit]</span>
					<span class="amount" style="color:#$p[text_color];">$r[amount]</span>
					<span class="amountunit" style="color:#$p[text_color];">$r[amountunit]</span>
					<div class="order_input numberbox"></div>
				</li>
			<!--{/loop}-->
			</ul>
			<div class="more">
				<a href="###">查看更多</a>
			</div>
		</div>
	</li>
	<!--{/loop}-->
</ul>

{template footer}
